<div class="swiper" #swiperRef>
  <div class="swiper-wrapper">
    <div class="swiper-slide" *ngFor="let item of displayedItems">
      <div class="room-item">
        <img [src]="staticUrl + 'images/' + item.image" alt="{{ item.fRoomAlias }}" class="room-image"
          (error)="handleImageError($event)">
        <div class="p-4">
          <h4>{{ item.fRoomAlias }}</h4>
          <p>{{ item.fRoomDescription | slice:0:15 }}...</p>
          <div class="price">NT ${{ item.fRoomPrice }}元</div>
          <a (click)="navigateToDetail(item.fRoomId, $event)" class="btn btn-primary">即刻入住</a>
        </div>
      </div>
    </div>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>