<div class="app-wrapper">

  <div class="app-content pt-3 p-md-3 p-lg-4">
    <div class="container-xl">

      <div class="row g-3 mb-4 align-items-center justify-content-between">
        <div class="col-auto">
          <h1 class="app-page-title mb-0">物品列表</h1>
        </div>
        <div class="col-auto">
          <div class="page-utilities">
            <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
              <div class="col-auto">
                <form class="table-search-form row gx-1 align-items-center">
                  <div class="col-auto">
                    <input type="text" id="search-orders" name="searchorders" class="form-control search-orders"
                      placeholder="請輸入關鍵字">
                  </div>
                  <div class="col-auto">
                    <button type="submit" class="btn app-btn-secondary">查詢</button>
                  </div>
                </form>

              </div><!--//col-->
              <div class="col-auto">

                <select class="form-select w-auto">
                  <option selected value="option-1">--類別--</option>
                  <option value="option-2">醫藥品</option>
                  <option value="option-3">保健品</option>
                  <option value="option-4">日用品</option>
                  <option value="option-5">辦公用品</option>

                </select>
              </div>
            </div><!--//row-->
          </div><!--//table-utilities-->
        </div><!--//col-auto-->
      </div><!--//row-->


      <div>
        <button class="app-btn-primary mb-4">新增品項</button>
      </div>


      <div class="tab-content" id="orders-table-tab-content">
        <div class="tab-pane fade show active" id="orders-all">
          <div class="app-card app-card-orders-table shadow-sm mb-5">
            <div class="app-card-body">
              <div class="table-responsive">
                <table class="table app-table-hover mb-0 text-center">
                  <thead>
                    <tr>
                      <th class="cell">物品編號</th>
                      <th class="cell">物品名稱</th>
                      <th class="cell">供應商名稱</th>
                      <th class="cell">類別</th>
                      <th class="cell">基本單位</th>
                      <th class="cell">單價</th>
                      <th class="cell">剩餘數量</th>
                      <th class="cell"></th>
                    </tr>
                  </thead>
                  <tbody>
                    @for (product of suppliesProducts;track $index)
                    {
                    <tr>
                      <td class="cell">{{product.suppliesProductID}}</td>
                      <td class="cell">{{product.suppliesProductName}}</td>
                      <td class="cell"><span class="truncate">{{product.suppliesSupplierName}}</span></td>
                      <td class="cell">{{product.suppliesCategoryName}}</td>
                      <td class="cell"><span class="cell-data">{{product.quantityPerUnit}}</span><span
                          class="note"></span></td>
                      <td class="cell">{{product.pricePerUnit}}</td>
                      <td class="cell">{{product.pricePerUnit}}</td>
                      <td class="cell"><a class="btn-sm app-btn-secondary me-2" href="#">品項修改</a><a
                          class="btn-sm app-btn-secondary" href="#">詳細時間</a></td>
                    </tr>
                    }

                  </tbody>
                </table>
              </div><!--//table-responsive-->

            </div><!--//app-card-body-->
          </div><!--//app-card-->
          <nav class="app-pagination">
            <ul class="pagination justify-content-center">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">上一頁</a>
              </li>
              <li class="page-item active"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">下一頁</a>
              </li>
            </ul>
          </nav><!--//app-pagination-->
        </div><!--//tab-content-->
      </div><!--//container-fluid-->
    </div><!--//app-content-->

    <footer class="app-footer">
      <div class="container text-center py-3">

      </div>
    </footer><!--//app-footer-->

  </div><!--//app-wrapper-->