<!-- Copyright Start -->
<div class="container-fluid copyright bg-dark py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
        <span class="text-light"><a href="#"><i class="fas fa-copyright text-light me-2"></i>安養院</a>, All
          right reserved.</span>
      </div>
    </div>
  </div>
</div>
<!-- Copyright End -->



<!-- Back to Top -->
<button class="btn btn-primary border-3 border-primary rounded-circle back-to-top" id="gotop" style="display: none; opacity: 0;"><i
    class="fa fa-arrow-up"></i></button>
