<div class="nav-bg">
  <div class="container px-0">
    <nav class="navbar navbar-light navbar-expand-xl">
      <a routerLink="/show/" routerLinkActive="active" class="navbar-brand pb-0">
        <h1 class="logo">
          <img src="assets/img/logo/logo.png" alt="" />
        </h1>
      </a>
      <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="fa fa-bars text-primary"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav mx-auto">
          <a routerLink="/show/room-list" class="nav-item nav-link">入住</a>
          <a routerLink="/show/event" class="nav-item nav-link">活動</a>
          <a routerLink="/show/community" class="nav-item nav-link">社群</a>
          <a routerLink="/show/shop" class="nav-item nav-link">商店</a>
          <a routerLink="/show/customer-service" class="nav-item nav-link">客服</a>
        </div>

        <!-- ERP 後台入口：獨立按鈕，不需登入 -->
        <div class="d-flex m-3 me-0 func">


          <!-- 購物車 -->
          @if (isLoggedIn() && memberName) {
            <button class="btn btn-link p-0 me-4 my-auto" title="聊天" (click)="toggleChat()" style="border: none; background: none; outline: none; box-shadow: none;">
              <i class="fas fa-comment-dots fa-2x"></i>
            </button>
          }

          <div class="nav-item">
            <a routerLink="/show/cart" class="position-relative me-4 my-auto">
              <i class="fa fa-shopping-bag"></i>

              @if (cartCount > 0) {
              <span
                class="position-absolute bg-secondary rounded-circle d-flex align-items-center justify-content-center text-dark px-1"
                style="top: -15px; left: 23px; height: 20px; min-width: 20px">
                {{ cartCount }}
              </span>
              }
            </a>
          </div>

          <!-- 會員登入/註冊 或 登出選單 -->
          <div class="nav-item dropdown">
            <a href="#" class="my-auto dropdown-toggle" data-bs-toggle="dropdown">
              <i class="fas fa-user"></i>
            </a>
            <div class="dropdown-menu m-0 bg-secondary rounded-0 position-absolute">
              @if (isLoggedIn()) {
              <a routerLink="/show/member-management" class="dropdown-item">會員管理中心</a>
              <a href="#" class="dropdown-item" (click)="logout()">登出</a>
              } @else {
              <a routerLink="/show/register" class="dropdown-item">註冊</a>
              <a routerLink="/show/login" class="dropdown-item">登入</a>
              }
            </div>
          </div>
          <a routerLink="/erp/employeehome" class="btn btn-outline-primary ms-3">
            <i class="fas fa-cogs me-1"></i> 後台系統
          </a>

        </div>
      </div>
    </nav>
  </div>
</div>