<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid"
          alt="Login Image" />
      </div>

      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form (ngSubmit)="login()">
          <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
            <p class="lead fw-normal mb-0 me-3">使用社群登入</p>
            <button type="button" class="btn btn-primary btn-floating mx-1">
              <i class="fab fa-facebook-f"></i>
            </button>
            <button type="button" class="btn btn-primary btn-floating mx-1">
              <i class="fab fa-google"></i>
            </button>
          </div>

          <div class="divider d-flex align-items-center my-4">
            <p class="text-center fw-bold mx-3 mb-0">或</p>
          </div>

          <!-- Email -->
          <div class="form-outline mb-4">
            <label class="form-label" for="account">帳號</label>
            <input type="text" [(ngModel)]="account" name="account" id="account" class="form-control form-control-lg"
              placeholder="請輸入帳號" required />
          </div>

          <!-- Password -->
          <div class="form-outline mb-3">
            <label class="form-label" for="password">密碼</label>
            <input type="password" [(ngModel)]="password" name="password" id="password"
              class="form-control form-control-lg" placeholder="請輸入密碼" required />
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <div class="form-check mb-0">
              <input class="form-check-input me-2" type="checkbox" id="rememberMe" />
              <label class="form-check-label" for="rememberMe">記住我</label>
            </div>
            <a href="#" class="text-body">忘記密碼？</a>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-primary btn-lg px-5">
              登入
            </button>
            <p class="small fw-bold mt-2 pt-1 mb-0">
              尚未註冊？
              <a routerLink="/show/register" class="link-danger">註冊帳號</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>