<!-- Swiper -->
<app-banner-swiper></app-banner-swiper>
<!-- end Swiper -->

<!-- Fact Start -->
<div class="container-fluid py-5">
  <div class="container">
    <div class="bg-light p-5 rounded">
      <div class="row g-4 justify-content-center">
        <div class="col-md-6 col-lg-6 col-xl-3">
          <div class="counter bg-white rounded p-5">
            <i class="fa fa-users text-secondary"></i>
            <h4>本院會員</h4>
            <h1>1963</h1>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-3">
          <div class="counter bg-white rounded p-5">
            <i class="fa fa-users text-secondary"></i>
            <h4>本院入住數</h4>
            <h1>99%</h1>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-3">
          <div class="counter bg-white rounded p-5">
            <i class="fa fa-users text-secondary"></i>
            <h4>本院員工</h4>
            <h1>33</h1>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-3">
          <div class="counter bg-white rounded p-5">
            <i class="fa fa-users text-secondary"></i>
            <h4>本院床位</h4>
            <h1>165</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Fact Start -->




<!-- Vesitable Rooms Start -->
<div class="container-fluid vesitable py-5">
  <div class="container py-5">
    <h1 class="mb-3">房型介紹</h1>
    <app-room-swiper class="swiper2" [items]="roomItems"></app-room-swiper>
  </div>
</div>
<!-- Vesitable Rooms End -->


<!-- Fruits Shop Start-->
<div class="container-fluid fruite py-5">
  <div class="container py-5">
    <div class="tab-class text-center">
      <div class="row g-4 align-items-end mb-4">
        <div class="col-lg-6 text-start">
          <h1 class="mb-0">熱銷商品</h1>
        </div>
        <div class="col-lg-6 text-end">
          <a routerLink="/show/shop" class="text-primary d-inline-block pb-1">看更多</a>
        </div>
      </div>
      <div class="tab-content">
        <div id="tab-1" class="tab-pane fade show p-0 active">
          <div class="row g-4">
            <div class="col-lg-12">
              <div class="row g-4">
                @if (productList.length > 0) {
                @for (p of productList; track p.productID) {
                <div class="col-md-6 col-lg-6 col-xl-3">
                  <a [routerLink]="['/show/shop', p.slug]" class="rounded position-relative fruite-item">
                    <div class="fruite-img">
                      <img [src]="p.thumbnailPhotoPath" class="img-fluid w-100 rounded-top" alt="{{ p.productName }}" />
                    </div>
                    <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                      <h4 class="shop-title text-start">{{ p.productName }}</h4>
                      <div class="d-flex justify-content-between flex-lg-wrap">
                        @if (p.originalPrice && p.originalPrice > (p.salePrice ?? 0)) {
                        <p class="text-muted mb-0">
                          <del>
                            {{
                            p.originalPrice
                            | currency : 'TWD' : 'symbol' : '1.0-0'
                            }}
                          </del>
                        </p>
                        }
                        <p class="text-dark fs-5 fw-bold mb-0">
                          {{
                          p.salePrice
                          | currency : 'TWD' : 'symbol' : '1.0-0'
                          }}
                        </p>
                      </div>
                    </div>
                  </a>
                </div>
                }
                } @else {
                <!-- 無商品 -->
                <div class="col-12">
                  <div class="alert alert-warning text-center py-5 rounded">
                    <i class="fa fa-exclamation-circle me-2"></i>
                    目前沒有商品
                  </div>
                </div>
                }
              </div>
            </div>
          </div>
        </div>
        <div id="tab-2" class="tab-pane fade show p-0">
          <div class="row g-4">
            <div class="col-lg-12">
              <div class="row g-4">
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <div class="rounded position-relative fruite-item">
                    <div class="fruite-img">
                      <img src="assets/img/fruite-item-5.jpg" class="img-fluid w-100 rounded-top" alt="" />
                    </div>
                    <div class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                      style="top: 10px; left: 10px">
                      類型
                    </div>
                    <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                      <h4>商品</h4>
                      <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit
                        sed do eiusmod te incididunt
                      </p>
                      <div class="d-flex justify-content-between flex-lg-wrap">
                        <p class="text-dark fs-5 fw-bold mb-0">$4.99</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <div class="rounded position-relative fruite-item">
                    <div class="fruite-img">
                      <img src="assets/img/fruite-item-2.jpg" class="img-fluid w-100 rounded-top" alt="" />
                    </div>
                    <div class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                      style="top: 10px; left: 10px">
                      類型
                    </div>
                    <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                      <h4>商品</h4>
                      <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit
                        sed do eiusmod te incididunt
                      </p>
                      <div class="d-flex justify-content-between flex-lg-wrap">
                        <p class="text-dark fs-5 fw-bold mb-0">$4.99</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="tab-3" class="tab-pane fade show p-0">
          <div class="row g-4">
            <div class="col-lg-12">
              <div class="row g-4">
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <div class="rounded position-relative fruite-item">
                    <div class="fruite-img">
                      <img src="assets/img/fruite-item-1.jpg" class="img-fluid w-100 rounded-top" alt="" />
                    </div>
                    <div class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                      style="top: 10px; left: 10px">
                      類型
                    </div>
                    <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                      <h4>商品</h4>
                      <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit
                        sed do eiusmod te incididunt
                      </p>
                      <div class="d-flex justify-content-between flex-lg-wrap">
                        <p class="text-dark fs-5 fw-bold mb-0">$4.99</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <div class="rounded position-relative fruite-item">
                    <div class="fruite-img">
                      <img src="assets/img/fruite-item-6.jpg" class="img-fluid w-100 rounded-top" alt="" />
                    </div>
                    <div class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                      style="top: 10px; left: 10px"></div>
                    <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                      <h4>商品</h4>
                      <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit
                        sed do eiusmod te incididunt
                      </p>
                      <div class="d-flex justify-content-between flex-lg-wrap">
                        <p class="text-dark fs-5 fw-bold mb-0">$4.99</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="tab-4" class="tab-pane fade show p-0">
          <div class="row g-4">
            <div class="col-lg-12">
              <div class="row g-4">
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <div class="rounded position-relative fruite-item">
                    <div class="fruite-img">
                      <img src="assets/img/fruite-item-5.jpg" class="img-fluid w-100 rounded-top" alt="" />
                    </div>
                    <div class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                      style="top: 10px; left: 10px">
                      類型
                    </div>
                    <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                      <h4>商品</h4>
                      <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit
                        sed do eiusmod te incididunt
                      </p>
                      <div class="d-flex justify-content-between flex-lg-wrap">
                        <p class="text-dark fs-5 fw-bold mb-0">$4.99</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <div class="rounded position-relative fruite-item">
                    <div class="fruite-img">
                      <img src="assets/img/fruite-item-4.jpg" class="img-fluid w-100 rounded-top" alt="" />
                    </div>
                    <div class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                      style="top: 10px; left: 10px">
                      類型
                    </div>
                    <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                      <h4>商品</h4>
                      <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit
                        sed do eiusmod te incididunt
                      </p>
                      <div class="d-flex justify-content-between flex-lg-wrap">
                        <p class="text-dark fs-5 fw-bold mb-0">$4.99</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="tab-5" class="tab-pane fade show p-0">
          <div class="row g-4">
            <div class="col-lg-12">
              <div class="row g-4">
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <div class="rounded position-relative fruite-item">
                    <div class="fruite-img">
                      <img src="assets/img/fruite-item-3.jpg" class="img-fluid w-100 rounded-top" alt="" />
                    </div>
                    <div class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                      style="top: 10px; left: 10px">
                      類型
                    </div>
                    <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                      <h4>商品</h4>
                      <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit
                        sed do eiusmod te incididunt
                      </p>
                      <div class="d-flex justify-content-between flex-lg-wrap">
                        <p class="text-dark fs-5 fw-bold mb-0">$4.99</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <div class="rounded position-relative fruite-item">
                    <div class="fruite-img">
                      <img src="assets/img/fruite-item-2.jpg" class="img-fluid w-100 rounded-top" alt="" />
                    </div>
                    <div class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                      style="top: 10px; left: 10px">
                      類型
                    </div>
                    <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                      <h4>商品</h4>
                      <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit
                        sed do eiusmod te incididunt
                      </p>
                      <div class="d-flex justify-content-between flex-lg-wrap">
                        <p class="text-dark fs-5 fw-bold mb-0">$4.99</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-3">
                  <div class="rounded position-relative fruite-item">
                    <div class="fruite-img">
                      <img src="assets/img/fruite-item-1.jpg" class="img-fluid w-100 rounded-top" alt="" />
                    </div>
                    <div class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                      style="top: 10px; left: 10px">
                      類型
                    </div>
                    <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                      <h4>商品</h4>
                      <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit
                        sed do eiusmod te incididunt
                      </p>
                      <div class="d-flex justify-content-between flex-lg-wrap">
                        <p class="text-dark fs-5 fw-bold mb-0">$4.99</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Fruits Shop End-->


<!-- Bestsaler Product Start -->
<div class="container-fluid py-5">
  <div class="container py-5">
    <div class="text-center mx-auto mb-5" style="max-width: 700px">
      <h1 class="display-4">顧客反饋</h1>
      <p>內容....</p>
    </div>
    <div class="row g-4">
      <div class="col-md-6 col-lg-6 col-xl-3">
        <div class="text-center">
          <img src="assets/img/fruite-item-1.jpg" class="img-fluid rounded" alt="" />
          <div class="py-4">
            <a href="#" class="h5">馬小名</a>
            <div class="d-flex my-3 justify-content-center">
              <i class="fas fa-star text-primary"></i>
              <i class="fas fa-star text-primary"></i>
              <i class="fas fa-star text-primary"></i>
              <i class="fas fa-star text-primary"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4 class="mb-3">3.12 $</h4>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-xl-3">
        <div class="text-center">
          <img src="assets/img/fruite-item-2.jpg" class="img-fluid rounded" alt="" />
          <div class="py-4">
            <a href="#" class="h5">愛華</a>
            <div class="d-flex my-3 justify-content-center">
              <i class="fas fa-star text-primary"></i>
              <i class="fas fa-star text-primary"></i>
              <i class="fas fa-star text-primary"></i>
              <i class="fas fa-star text-primary"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4 class="mb-3">3.12 $</h4>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-xl-3">
        <div class="text-center">
          <img src="assets/img/fruite-item-3.jpg" class="img-fluid rounded" alt="" />
          <div class="py-4">
            <a href="#" class="h5">研析</a>
            <div class="d-flex my-3 justify-content-center">
              <i class="fas fa-star text-primary"></i>
              <i class="fas fa-star text-primary"></i>
              <i class="fas fa-star text-primary"></i>
              <i class="fas fa-star text-primary"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4 class="mb-3">3.12 $</h4>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-6 col-xl-3">
        <div class="text-center">
          <img src="assets/img/fruite-item-4.jpg" class="img-fluid rounded" alt="" />
          <div class="py-2">
            <a href="#" class="h5">陳辰</a>
            <div class="d-flex my-3 justify-content-center">
              <i class="fas fa-star text-primary"></i>
              <i class="fas fa-star text-primary"></i>
              <i class="fas fa-star text-primary"></i>
              <i class="fas fa-star text-primary"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4 class="mb-3">3.12 $</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Bestsaler Product End -->



<!-- Featurs Section Start -->
<div class="container-fluid featurs py-5">
  <div class="container py-5">
    <div class="row g-4">
      <div class="col-md-6 col-lg-3">
        <div class="featurs-item text-center rounded bg-light p-4">
          <div class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
            <i class="fas fa-car-side fa-3x text-white"></i>
          </div>
          <div class="featurs-content text-center">
            <h5>接送服務</h5>
            <p class="mb-0">Free on order over $300</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="featurs-item text-center rounded bg-light p-4">
          <div class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
            <i class="fas fa-user-shield fa-3x text-white"></i>
          </div>
          <div class="featurs-content text-center">
            <h5>專人報府服務</h5>
            <p class="mb-0">100% security payment</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="featurs-item text-center rounded bg-light p-4">
          <div class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
            <i class="fas fa-exchange-alt fa-3x text-white"></i>
          </div>
          <div class="featurs-content text-center">
            <h5>活動報名</h5>
            <p class="mb-0">30 day money guarantee</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="featurs-item text-center rounded bg-light p-4">
          <div class="featurs-icon btn-square rounded-circle bg-secondary mb-5 mx-auto">
            <i class="fa fa-phone-alt fa-3x text-white"></i>
          </div>
          <div class="featurs-content text-center">
            <h5>24小時客服聯絡</h5>
            <p class="mb-0">Support every time fast</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Featurs Section End -->



<!-- Tastimonial Start -->
<div class="container-fluid testimonial py-5">
  <div class="container py-5">
    <div class="testimonial-header text-center">
      <h4 class="text-primary">Our Testimonial</h4>
      <h1 class="display-5 mb-5 text-dark">近期活動</h1>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="testimonial-item img-border-radius bg-light rounded p-4">
          <div class="position-relative">
            <i class="fa fa-quote-right fa-2x text-secondary position-absolute" style="bottom: 30px; right: 0"></i>
            <div class="mb-4 pb-4 border-bottom border-secondary">
              <p class="mb-0">
                Lorem Ipsum is simply dummy text of the printing Ipsum has been
                the industry's standard dummy text ever since the 1500s,
              </p>
            </div>
            <div class="d-flex align-items-center flex-nowrap">
              <div class="bg-secondary rounded">
                <img src="assets/img/testimonial-1.jpg" class="img-fluid rounded" style="width: 100px; height: 100px"
                  alt="" />
              </div>
              <div class="ms-4 d-block">
                <h4 class="text-dark">Client Name</h4>
                <p class="m-0 pb-3">Profession</p>
                <div class="d-flex pe-5">
                  <i class="fas fa-star text-primary"></i>
                  <i class="fas fa-star text-primary"></i>
                  <i class="fas fa-star text-primary"></i>
                  <i class="fas fa-star text-primary"></i>
                  <i class="fas fa-star"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="testimonial-item img-border-radius bg-light rounded p-4">
          <div class="position-relative">
            <i class="fa fa-quote-right fa-2x text-secondary position-absolute" style="bottom: 30px; right: 0"></i>
            <div class="mb-4 pb-4 border-bottom border-secondary">
              <p class="mb-0">
                Lorem Ipsum is simply dummy text of the printing Ipsum has been
                the industry's standard dummy text ever since the 1500s,
              </p>
            </div>
            <div class="d-flex align-items-center flex-nowrap">
              <div class="bg-secondary rounded">
                <img src="assets/img/testimonial-1.jpg" class="img-fluid rounded" style="width: 100px; height: 100px"
                  alt="" />
              </div>
              <div class="ms-4 d-block">
                <h4 class="text-dark">Client Name</h4>
                <p class="m-0 pb-3">Profession</p>
                <div class="d-flex pe-5">
                  <i class="fas fa-star text-primary"></i>
                  <i class="fas fa-star text-primary"></i>
                  <i class="fas fa-star text-primary"></i>
                  <i class="fas fa-star text-primary"></i>
                  <i class="fas fa-star text-primary"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Tastimonial End -->