<!-- Swiper Banner -->
<div class="swiper swiper1" id="swiper1">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="assets/img/banner/banner1.png" alt="">
    </div>
    <div class="swiper-slide">
      <img src="assets/img/banner/banner2.png" alt="">
    </div>
    <div class="swiper-slide">
      <img src="assets/img/banner/banner3.png" alt="">
    </div>
  </div>

  <!-- arrows -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- dots -->
  <div class="swiper-pagination"></div>
</div>
