<div class="app-wrapper">

  <div class="app-content pt-3 p-md-3 p-lg-4">
    <div class="container-xl">

      <div class="row g-3 mb-4 align-items-center justify-content-between">
        <div class="col-auto">
          <h1 class="app-page-title mb-0">進貨單列表</h1>
        </div>
        <div class="col-auto">
          <div class="page-utilities">
            <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
              <div class="col-auto">
                <form class="table-search-form row gx-1 align-items-center">
                  <div class="col-auto">
                    <input type="text" id="search-suppliesorders" name="searchsuppliesorders"
                      class="form-control search-suppliesorders" placeholder="請輸入關鍵字">
                  </div>
                  <div class="col-auto">
                    <button type="submit" class="btn app-btn-secondary">查詢</button>
                  </div>
                </form>

              </div><!--//col-->
              <div class="col-auto">

                <select class="form-select w-auto">
                  <option selected value="option-1">--類別--</option>
                  <option value="option-2"></option>
                  <option value="option-3"></option>
                  <option value="option-4"></option>

                </select>
              </div>
            </div><!--//row-->
          </div><!--//table-utilities-->
        </div><!--//col-auto-->
      </div><!--//row-->


      <div>
        <button class="app-btn-primary mb-4" data-bs-toggle="modal" data-bs-target="#addPurchasingModal"
          (click)="resetNewPurchasing()">新增進貨單</button>
      </div>

      <!-- 利用Modal新增進貨單 -->
      <div class="modal fade" id="addPurchasingModal" data-bs-backdrop="static" tabindex="-1"
        aria-labelledby="addPurchasingModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-lg custom-modal-width">
          <div class="modal-content">
            <form (ngSubmit)="submitAddPurchasing()" #addPurchasingModal="ngForm">
              <div class="modal-header">
                <h5 class="modal-title" id="addPurchasingModalLabel">新增進貨單</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="ms-3 mt-3">
                <button type="button" class="btn-primary" (click)="addPurchasingItem()">新增物品</button>
              </div>
              <div class="modal-body">
                <div class="row mb-3">
                  <!-- 類別 -->
                  <div class="col-md-6">
                    <label for="orderCategory" class="form-label">類別名稱</label>
                    <select id="orderCategory" class="form-select" [(ngModel)]="selectedCategoryId" name="orderCategory"
                      (change)="onCategoryChangeForOrder()" required>
                      <option [ngValue]="null" disabled selected>請選擇類別</option>
                      @for(category of categories; track $index)
                      {
                      <option [ngValue]="category.suppliesCategoryId">{{ category.suppliesCategoryName}}</option>
                      }
                    </select>
                  </div>

                  <!-- 供應商 -->
                  <div class="col-md-6">
                    <label for="orderSupplier" class="form-label">供應商名稱</label>
                    <select id="orderSupplier" class="form-select" [(ngModel)]="selectedSupplierId" name="orderSupplier"
                      [disabled]="!selectedCategoryId" (change)="onSupplierChangeForOrder()" required>
                      <option [ngValue]="null" disabled selected>請選擇供應商</option>
                      @for(supplier of filteredSuppliers;track $index)
                      {
                      <option [ngValue]="supplier.suppliesSupplierId">{{ supplier.suppliesSupplierName }}</option>
                      }
                    </select>
                  </div>
                </div>
              </div>
              <table class="table table-bordered text-center align-middle">
                <thead>
                  <tr>
                    <th style="width: 30%;">物品名稱</th>
                    <th style="width: 20%;">有效期限</th>
                    <th style="width: 15%;">進貨數量</th>
                    <th style="width: 5%;"></th>
                  </tr>
                </thead>
                <tbody>
                  @for(item of purchasingItems;track $index){
                  <tr>
                    <!-- 物品 -->
                    <td>
                      <select class="form-select" [(ngModel)]="item.suppliesProductId"
                        name="suppliesProductId{{$index}}" required [disabled]="!selectedSupplierId"
                        (change)="onProductChangeForItem($index)">
                        <option [ngValue]="null" disabled selected>請選擇物品</option>
                        @for (product of item.filteredProducts; track $index)
                        {
                        <option [ngValue]="product.suppliesProductID"> {{ product.suppliesProductName }} </option>
                        }
                      </select>
                    </td>
                    <!-- 有效期限 -->
                    <td>
                      <input type="date" class="form-control" [(ngModel)]="item.expiryDate" name="expiryDate{{$index}}"
                        [disabled]="!item.suppliesProductId" min="{{ today }}" max="2100-12-31" required />
                    </td>
                    <!-- 數量 -->
                    <td>
                      <input type="number" class="form-control" placeholder="0" [(ngModel)]="item.quantityOfPurchasing"
                        name="quantityOfPurchasing{{$index}}" required />
                    </td>
                    <td>
                      <button type="button" class="btn-close" (click)="removePurchasingItem($index)"></button>
                    </td>
                  </tr>
                  }
                </tbody>
              </table>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                  (click)="clearPurchasingItems()">
                  取消
                </button>
                <button type="submit" class="btn btn-success" [disabled]="!addPurchasingModal.form.valid">
                  儲存
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- 新增用Modal -->

      <!-- 利用Modal查看詳細 -->
      <div class="modal fade" id="purchasingDetailModal" tabindex="-1" aria-labelledby="purchasingDetailModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-lg custom-modal-width">
          <div class="modal-content">
            <form #purchasingDetailModal="ngForm">
              <div class="modal-header">
                <h5 class="modal-title" id="purchasingDetailModalLabel">銷貨單詳細</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <table class="table table-bordered text-center align-middle">
                  <thead>
                    <tr>
                      <th style="width: 5%;">編號</th>
                      <th style="width: 20%;">類別名稱</th>
                      <th style="width: 25%;">供應商名稱</th>
                      <th style="width: 30%;">物品名稱</th>
                      <th style="width: 13%;">有效期限</th>
                      <th style="width: 7%;">購買數量</th>
                    </tr>
                  </thead>
                  <tbody>
                    @for(detail of selectedPurchasingOrder; track $index) {
                    <tr>
                      <td>
                        @if($index === 0) { {{detail.suppliesPurchasingOrderId}} }
                      </td>
                      <td>{{detail.suppliesCategoryName}}</td>
                      <td>{{detail.suppliesSupplierName}}</td>
                      <td>{{detail.suppliesProductName}}</td>
                      <td>{{detail.expiryDate}}</td>
                      <td>{{detail.quantityIn}}</td>
                    </tr>
                    }
                  </tbody>
                </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                  返回
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- 詳細用Modal -->

      <div class="tab-content" id="suppliesorders-table-tab-content">
        <div class="tab-pane fade show active" id="suppliesorders-all" role="tabpanel"
          aria-labelledby="suppliesorders-all-tab">
          <div class="app-card app-card-orders-table shadow-sm mb-5">
            <div class="app-card-body">
              <div class="table-responsive">
                <table class="table app-table-hover mb-0 text-center">
                  <thead>
                    <tr>
                      <th class="cell">訂單編號</th>
                      <th class="cell">供應商名稱</th>
                      <th class="cell">到貨日</th>
                      <th class="cell"></th>
                    </tr>
                  </thead>
                  <tbody>
                    @for(purchasingOrders of uniquePurchasingOrders;track $index){
                    <tr>
                      <td class="cell">{{purchasingOrders.suppliesPurchasingOrderId}}</td>
                      <td class="cell"><span class="truncate">{{purchasingOrders.suppliesSupplierName}}</span></td>
                      <td class="cell"><span>{{purchasingOrders.arrivalDate}}</span><span class="note"></span></td>
                      <td class="cell"><button class="btn-sm app-btn-secondary" data-bs-toggle="modal"
                          data-bs-target="#purchasingDetailModal"
                          (click)="showPurchasingDetail(purchasingOrders)">進貨單詳細</button>
                      </td>
                    </tr>
                    }
                  </tbody>
                </table>
              </div><!--//table-responsive-->

            </div><!--//app-card-body-->
          </div><!--//app-card-->
          <nav class="app-pagination">
            <ul class="pagination justify-content-center">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">上一頁</a>
              </li>
              <li class="page-item active"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">下一頁</a>
              </li>
            </ul>
          </nav><!--//app-pagination-->
        </div><!--//tab-pane-->
      </div><!--//tab-content-->




    </div><!--//container-fluid-->
  </div><!--//app-content-->

  <footer class="app-footer">

  </footer><!--//app-footer-->

</div><!--//app-wrapper-->