<!-- src/app/pages/backend/employeelogin/employeelogin.component.html -->
<div class="auth-page">
  <div class="container auth-container">

    <h1 class="badge bg-success mb-4 fs-2">員工登入</h1>

    <div class="row justify-content-center align-items-center g-4">
      <!-- 左側：登入卡片 -->
      <div class="col-12 col-lg-6">
        <div class="card shadow-sm auth-card">
          <div class="card-header p-3 border-bottom-0">
            <div class="d-flex align-items-center gap-3">
              <div class="app-icon-holder">
                <i class="bi bi-person-circle"></i>
              </div>
              <h4 class="mb-0">登入系統</h4>
            </div>
          </div>

          <div class="card-body">
            <form #f="ngForm" (ngSubmit)="login(f)" class="auth-form login-form text-start">
              <div class="mb-3">
                <label class="form-label" style="font-size:x-large; font-weight: bolder;">帳號</label>
                <input name="username" [(ngModel)]="vm.username" required pattern="^[A-Za-z0-9]{6,12}$"
                  class="form-control form-control-lg" placeholder="輸入帳號" autocomplete="username">
              </div>

              <div class="mb-3">
                <label class="form-label" style="font-size:x-large; font-weight: bolder;">密碼</label>
                <div class="input-group">
                  <input [type]="showPwd ? 'text' : 'password'" name="password" [(ngModel)]="vm.password" required
                    pattern="^[A-Za-z0-9]{4,12}$" class="form-control form-control-lg" placeholder="輸入密碼"
                    autocomplete="current-password">
                  <button type="button" class="btn btn-outline-secondary" (click)="showPwd=!showPwd" tabindex="-1">
                    <i class="bi" [ngClass]="showPwd ? 'bi-eye-slash' : 'bi-eye'"></i>
                  </button>
                </div>

                <div class="mt-3 d-flex justify-content-between align-items-center">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="RememberUsername" [(ngModel)]="vm.remember"
                      name="remember">
                    <label class="form-check-label" for="RememberUsername">記住帳號</label>
                  </div>
                  <a routerLink="/erp/employeeforgotpassword">忘記密碼?</a>
                </div>
              </div>

              <div class="text-danger mb-3" *ngIf="error">{{ error }}</div>

              <button type="submit" class="btn app-btn-primary btn-lg w-100 " style="font-size: 2.0rem;"
                [disabled]="loading || f.invalid">
                {{ loading ? '登入中…' : '登入' }}
              </button>
            </form>

            <div class="pt-4 text-center mb-1">
              尚無帳號？<a class="text-link" routerLink="/erp/employeeregister">建立帳號</a>
            </div>
          </div>
        </div>
      </div>

      <!-- 右側：插畫 -->
      <div class="col-12 col-lg-6">
        <div class="auth-illustration d-none d-md-block"></div>
      </div>
    </div>

  </div>
</div>