<div class="app-wrapper">

  <div class="app-content pt-3 p-md-3 p-lg-4">
    <div class="container-xl">

      <div class="row g-3 mb-4 align-items-center justify-content-between">
        <div class="col-auto">
          <h1 class="app-page-title mb-0">供應商列表</h1>
        </div>
        <div class="col-auto">
          <div class="page-utilities">
            <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
              <div class="col-auto">
                <form class="table-search-form row gx-1 align-items-center" (ngSubmit)="searchAllTabs()">
                  <div class="col-auto">
                    <input type="text" id="search-suppliessuppliers" name="searchKeyword"
                      class="form-control search-suppliessuppliers" placeholder="請輸入關鍵字" [(ngModel)]="searchKeyword" />
                  </div>
                  <div class="col-auto">
                    <button type="submit" class="btn app-btn-secondary">查詢</button>
                  </div>
                </form>

              </div><!--//col-->
              <div class="col-auto">

                <!-- <select class="form-select w-auto">
                  <option selected value="option-1">--類別--</option>
                  <option value="option-2"></option>
                  <option value="option-3"></option>
                  <option value="option-4"></option>

                </select> -->
              </div>
            </div><!--//row-->
          </div><!--//table-utilities-->
        </div><!--//col-auto-->
      </div><!--//row-->


      <div>
        <button class="app-btn-primary mb-4" data-bs-toggle="modal" data-bs-target="#addSupplierModal"
          (click)="resetNewSupplier()">新增供應商</button>
      </div>

      <!-- 利用Modal新增供應商 -->
      <div class="modal fade" id="addSupplierModal" tabindex="-1" aria-labelledby="addSupplierModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <form (ngSubmit)="submitAddSupplier()" #addSupplierForm="ngForm">
              <div class="modal-header">
                <h5 class="modal-title" id="addSupplierModalLabel">新增供應商</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <!-- 供應商名稱 -->
                <div class="mb-3">
                  <label for="suppliesSupplierName" class="form-label">供應商名稱</label>
                  <input type="text" id="suppliesSupplierName" class="form-control"
                    [(ngModel)]="newSupplier.suppliesSupplierName" name="suppliesSupplierName" required />
                </div>
                <!-- 統編 -->
                <div class="mb-3">
                  <label for="suppliesSupplierGui" class="form-label">統編</label>
                  <input type="text" id="suppliesSupplierGui" class="form-control"
                    [(ngModel)]="newSupplier.suppliesSupplierGui" name="suppliesSupplierGui" required />
                </div>
                <!-- 聯絡人 -->
                <div class="mb-3">
                  <label for="contactPerson" class="form-label">聯絡人</label>
                  <input type="text" id="contactPerson" class="form-control" [(ngModel)]="newSupplier.contactPerson"
                    name="contactPerson" required />
                </div>
                <!-- 聯絡電話 -->
                <div class="mb-3">
                  <label for="contactNumber" class="form-label">聯絡電話</label>
                  <input type="text" id="contactNumber" class="form-control" [(ngModel)]="newSupplier.contactNumber"
                    name="contactNumber" required />
                </div>
                <!-- 地址 -->
                <div class="mb-3">
                  <label for="address" class="form-label">地址</label>
                  <input type="text" id="address" class="form-control" [(ngModel)]="newSupplier.address" name="address"
                    required />
                </div>
                <!-- 類別名稱 (下拉式選單) -->
                <div class="mb-3">
                  <label for="supplierKeyword" class="form-label">類別名稱</label>
                  <select id="supplierKeyword" class="form-select" [(ngModel)]="newSupplier.supplierKeyword"
                    name="supplierKeyword" required (change)="onCategoryChange($event)">
                    <option [ngValue]="null" disabled selected>請選擇類別</option>
                    @for(category of categories;track $index)
                    {<option [ngValue]="category.suppliesCategoryId">{{category.suppliesCategoryName}}</option>}
                  </select>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                  取消
                </button>
                <button type="submit" class="btn btn-success" [disabled]="!addSupplierForm.form.valid">
                  儲存
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- 新增用Modal -->

      <!-- 利用Modal修改供應商 -->
      <div class="modal fade" id="editSupplierModal" tabindex="-1" aria-labelledby="editSupplierModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <form #editSupplierForm="ngForm">
              <div class="modal-header">
                <h5 class="modal-title" id="editSupplierModalLabel">修改供應商</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <!-- 供應商名稱 -->
                <div class="mb-3">
                  <label for="suppliesSupplierName" class="form-label">供應商名稱</label>
                  <input type="text" id="suppliesSupplierName" class="form-control"
                    [(ngModel)]="newSupplier.suppliesSupplierName" name="suppliesSupplierName" required />
                </div>
                <!-- 統編 -->
                <div class="mb-3">
                  <label for="suppliesSupplierGui" class="form-label">統編</label>
                  <input type="text" id="suppliesSupplierGui" class="form-control"
                    [(ngModel)]="newSupplier.suppliesSupplierGui" name="suppliesSupplierGui" required />
                </div>
                <!-- 聯絡人 -->
                <div class="mb-3">
                  <label for="contactPerson" class="form-label">聯絡人</label>
                  <input type="text" id="contactPerson" class="form-control" [(ngModel)]="newSupplier.contactPerson"
                    name="contactPerson" required />
                </div>
                <!-- 聯絡電話 -->
                <div class="mb-3">
                  <label for="contactNumber" class="form-label">聯絡電話</label>
                  <input type="text" id="contactNumber" class="form-control" [(ngModel)]="newSupplier.contactNumber"
                    name="contactNumber" required />
                </div>
                <!-- 地址 -->
                <div class="mb-3">
                  <label for="address" class="form-label">地址</label>
                  <input type="text" id="address" class="form-control" [(ngModel)]="newSupplier.address" name="address"
                    required />
                </div>
                <!-- 類別名稱 (下拉式選單) -->
                <div class="mb-3">
                  <label for="supplierKeyword" class="form-label">類別名稱</label>
                  <select id="supplierKeyword" class="form-select" [(ngModel)]="newSupplier.supplierKeyword"
                    name="supplierKeyword" required (change)="onCategoryChange($event)">
                    <option [ngValue]="null" disabled>請選擇類別</option>
                    @for(category of categories;track $index)
                    {<option [ngValue]="category.suppliesCategoryName">{{category.suppliesCategoryName}}</option>}
                  </select>
                </div>
                <!-- 是否繼續合約 -->
                <div class="mb-3 form-check">
                  <input type="checkbox" id="continued" class="form-check-input" [(ngModel)]="newSupplier.continued"
                    name="continued" />
                  <label for="continued" class="form-check-label">合約中</label>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                  取消
                </button>
                <button type="button" (click)="submitEditSupplier()" class="btn btn-success"
                  [disabled]="!editSupplierForm.form.valid">
                  儲存
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- 修改用Modal -->

      <nav id="suppliessuppliers-table-tab"
        class="suppliessuppliers-table-tab app-nav-tabs nav shadow-sm flex-column flex-sm-row mb-4">
        <a class="flex-sm-fill text-sm-center nav-link active" id="suppliessuppliers-all-tab" data-bs-toggle="tab"
          href="#suppliessuppliers-all" role="tab" aria-controls="suppliessuppliers-all" aria-selected="true">總覽</a>
        <a class="flex-sm-fill text-sm-center nav-link" id="suppliessuppliers-continued-tab" data-bs-toggle="tab"
          href="#suppliessuppliers-continued" role="tab" aria-controls="suppliessuppliers-continued"
          aria-selected="false">合約中</a>
        <a class="flex-sm-fill text-sm-center nav-link" id="suppliessuppliers-cancelled-tab" data-bs-toggle="tab"
          href="#suppliessuppliers-cancelled" role="tab" aria-controls="suppliessuppliers-cancelled"
          aria-selected="false">已解約</a>
      </nav>


      <div class="tab-content" id="suppliessuppliers-table-tab-content">
        <div class="tab-pane fade show active" id="suppliessuppliers-all" role="tabpanel"
          aria-labelledby="suppliessuppliers-all-tab">
          <div class="app-card app-card-orders-table shadow-sm mb-5">
            <div class="app-card-body">
              <div class="table-responsive">
                <table class="table app-table-hover mb-0 text-center">
                  <thead>
                    <tr>
                      <th class="cell">供應商編號</th>
                      <th class="cell">供應商名稱</th>
                      <th class="cell">統編</th>
                      <th class="cell">聯絡人</th>
                      <th class="cell">聯絡電話</th>
                      <th class="cell">地址</th>
                      <th class="cell">類別</th>
                      <th class="cell">合約中</th>
                      <th class="cell"></th>
                    </tr>
                  </thead>
                  <tbody>
                    @for(supplier of pagination.all.data; track $index) {
                    <tr>
                      <td class="cell">{{supplier.suppliesSupplierId}}</td>
                      <td class="cell"><span class="truncate">{{supplier.suppliesSupplierName}}</span></td>
                      <td class="cell">{{supplier.suppliesSupplierGui}}</td>
                      <td class="cell">{{supplier.contactPerson}}</td>
                      <td class="cell">{{supplier.contactNumber}}</td>
                      <td class="cell"><span class="truncate">{{supplier.address}}</span></td>
                      <td class="cell">{{supplier.supplierKeyword}}</td>
                      <td class="cell">
                        <span class="badge" [ngClass]="supplier.continued ? 'bg-success' : 'bg-secondary'">
                          {{ supplier.continued ? '合約中' : '已解約' }}
                        </span>
                      </td>
                      <td class="cell">
                        <button class="btn-sm app-btn-secondary" data-bs-toggle="modal"
                          data-bs-target="#editSupplierModal" (click)="editSupplier(supplier)">
                          品項修改
                        </button>
                      </td>
                    </tr>
                    }
                  </tbody>
                </table>
              </div><!--//table-responsive-->

            </div><!--//app-card-body-->
          </div><!--//app-card-->
          <nav class="app-pagination">
            <ul class="pagination justify-content-center">
              <li class="page-item"
                [class.disabled]="pagination.all.currentPage === 1 || pagination.all.totalPages === 0">
                <button class="page-link" (click)="changePage('all', pagination.all.currentPage - 1)">上一頁</button>
              </li>

              @for(page of getPageNumbers('all'); track $index) {
              <li class="page-item" [class.active]="pagination.all.currentPage === page">
                <button class="page-link" (click)="changePage('all', page)">{{ page }}</button>
              </li>
              }

              <li class="page-item"
                [class.disabled]="pagination.all.currentPage === pagination.all.totalPages || pagination.all.totalPages === 0">
                <button class="page-link" (click)="changePage('all', pagination.all.currentPage + 1)">下一頁</button>
              </li>
            </ul>
          </nav><!--//app-pagination-->

        </div><!--//tab-pane-->

        <div class="tab-pane fade" id="suppliessuppliers-continued" role="tabpanel"
          aria-labelledby="suppliessuppliers-continued-tab">
          <div class="app-card app-card-orders-table mb-5">
            <div class="app-card-body">
              <div class="table-responsive">

                <table class="table mb-0 text-center">
                  <thead>
                    <tr>
                      <th class="cell">供應商編號</th>
                      <th class="cell">供應商名稱</th>
                      <th class="cell">統編</th>
                      <th class="cell">聯絡人</th>
                      <th class="cell">聯絡電話</th>
                      <th class="cell">地址</th>
                      <th class="cell">類別</th>
                      <th class="cell">合約中</th>
                      <th class="cell"></th>
                    </tr>
                  </thead>
                  <tbody>
                    @for(supplier of pagination.continued.data; track $index) {
                    <tr>
                      <td class="cell">{{supplier.suppliesSupplierId}}</td>
                      <td class="cell"><span class="truncate">{{supplier.suppliesSupplierName}}</span></td>
                      <td class="cell">{{supplier.suppliesSupplierGui}}</td>
                      <td class="cell">{{supplier.contactPerson}}</td>
                      <td class="cell">{{supplier.contactNumber}}</td>
                      <td class="cell"><span class="truncate">{{supplier.address}}</span></td>
                      <td class="cell">{{supplier.supplierKeyword}}</td>
                      <td class="cell"><span class="badge bg-success">合約中</span></td>
                      <td class="cell">
                        <button class="btn-sm app-btn-secondary" data-bs-toggle="modal"
                          data-bs-target="#editSupplierModal" (click)="editSupplier(supplier)">
                          品項修改
                        </button>
                      </td>
                    </tr>
                    }
                  </tbody>
                </table>
              </div><!--//table-responsive-->
            </div><!--//app-card-body-->
          </div><!--//app-card-->
          <nav class="app-pagination">
            <ul class="pagination justify-content-center">
              <li class="page-item"
                [class.disabled]="pagination.continued.currentPage === 1 || pagination.continued.totalPages === 0">
                <a class="page-link" (click)="changePage('continued', pagination.continued.currentPage - 1)">上一頁</a>
              </li>

              @for(page of getPageNumbers('continued'); track $index) {
              <li class="page-item" [class.active]="pagination.continued.currentPage === page">
                <button class="page-link" (click)="changePage('continued', page)">{{ page }}</button>
              </li>
              }

              <li class="page-item"
                [class.disabled]="pagination.continued.currentPage === pagination.continued.totalPages || pagination.continued.totalPages === 0">
                <a class="page-link" (click)="changePage('continued', pagination.continued.currentPage + 1)">下一頁</a>
              </li>
            </ul>
          </nav>
        </div><!--//tab-pane-->

        <div class="tab-pane fade" id="suppliessuppliers-cancelled" role="tabpanel"
          aria-labelledby="suppliessuppliers-cancelled-tab">
          <div class="app-card app-card-orders-table mb-5">
            <div class="app-card-body">
              <div class="table-responsive">
                <table class="table mb-0 text-center">
                  <thead>
                    <tr>
                      <th class="cell">供應商編號</th>
                      <th class="cell">供應商名稱</th>
                      <th class="cell">統編</th>
                      <th class="cell">聯絡人</th>
                      <th class="cell">聯絡電話</th>
                      <th class="cell">地址</th>
                      <th class="cell">類別</th>
                      <th class="cell">合約中</th>
                      <th class="cell"></th>
                    </tr>
                  </thead>
                  <tbody>
                    @for(supplier of pagination.cancelled.data; track $index) {
                    <tr>
                      <td class="cell">{{supplier.suppliesSupplierId}}</td>
                      <td class="cell"><span class="truncate">{{supplier.suppliesSupplierName}}</span></td>
                      <td class="cell">{{supplier.suppliesSupplierGui}}</td>
                      <td class="cell">{{supplier.contactPerson}}</td>
                      <td class="cell">{{supplier.contactNumber}}</td>
                      <td class="cell"><span class="truncate">{{supplier.address}}</span></td>
                      <td class="cell">{{supplier.supplierKeyword}}</td>
                      <td class="cell"><span class="badge bg-secondary">已解約</span></td>
                      <td class="cell">
                        <button class="btn-sm app-btn-secondary" data-bs-toggle="modal"
                          data-bs-target="#editSupplierModal" (click)="editSupplier(supplier)">
                          品項修改
                        </button>
                      </td>
                    </tr>
                    }
                  </tbody>
                </table>
              </div><!--//table-responsive-->
            </div><!--//app-card-body-->
          </div><!--//app-card-->
          <nav class="app-pagination">
            <ul class="pagination justify-content-center">
              <li class="page-item"
                [class.disabled]="pagination.cancelled.currentPage === 1 || pagination.cancelled.totalPages === 0">
                <a class="page-link" (click)="changePage('cancelled', pagination.cancelled.currentPage - 1)">上一頁</a>
              </li>

              @for(page of getPageNumbers('cancelled'); track $index) {
              <li class="page-item" [class.active]="pagination.cancelled.currentPage === page">
                <button class="page-link" (click)="changePage('cancelled', page)">{{ page }}</button>
              </li>
              }

              <li class="page-item"
                [class.disabled]="pagination.cancelled.currentPage === pagination.cancelled.totalPages || pagination.cancelled.totalPages === 0">
                <a class="page-link" (click)="changePage('cancelled', pagination.cancelled.currentPage + 1)">下一頁</a>
              </li>
            </ul>
          </nav>
        </div><!--//tab-pane-->
      </div><!--//tab-content-->




    </div><!--//container-fluid-->
  </div><!--//app-content-->

  <footer class="app-footer">

  </footer><!--//app-footer-->

</div><!--//app-wrapper-->