<div class="app-wrapper">

  <div class="app-content pt-3 p-md-3 p-lg-4">
    <div class="container-xl">

      <div class="row g-3 mb-4 align-items-center justify-content-between">
        <div class="col-auto">
          <h1 class="app-page-title mb-0">供應商列表</h1>
        </div>
        <div class="col-auto">
          <div class="page-utilities">
            <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
              <div class="col-auto">
                <form class="table-search-form row gx-1 align-items-center">
                  <div class="col-auto">
                    <input type="text" id="search-suppliessuppliers" name="searchsuppliessuppliers"
                      class="form-control search-suppliessuppliers" placeholder="請輸入關鍵字">
                  </div>
                  <div class="col-auto">
                    <button type="submit" class="btn app-btn-secondary">查詢</button>
                  </div>
                </form>

              </div><!--//col-->
              <div class="col-auto">

                <select class="form-select w-auto">
                  <option selected value="option-1">--類別--</option>
                  <option value="option-2"></option>
                  <option value="option-3"></option>
                  <option value="option-4"></option>

                </select>
              </div>
            </div><!--//row-->
          </div><!--//table-utilities-->
        </div><!--//col-auto-->
      </div><!--//row-->


      <div>
        <button class="app-btn-primary mb-4">新增供應商</button>
      </div>


      <nav id="suppliessuppliers-table-tab"
        class="suppliessuppliers-table-tab app-nav-tabs nav shadow-sm flex-column flex-sm-row mb-4">
        <a class="flex-sm-fill text-sm-center nav-link active" id="suppliessuppliers-all-tab" data-bs-toggle="tab"
          href="#suppliessuppliers-all" role="tab" aria-controls="suppliessuppliers-all" aria-selected="true">總覽</a>
        <a class="flex-sm-fill text-sm-center nav-link" id="suppliessuppliers-returned-tab" data-bs-toggle="tab"
          href="#suppliessuppliers-returned" role="tab" aria-controls="suppliessuppliers-returned"
          aria-selected="false">合約中</a>
        <a class="flex-sm-fill text-sm-center nav-link" id="suppliessuppliers-rentout-tab" data-bs-toggle="tab"
          href="#suppliessuppliers-rentout" role="tab" aria-controls="suppliessuppliers-rentout"
          aria-selected="false">已解約</a>
      </nav>


      <div class="tab-content" id="suppliessuppliers-table-tab-content">
        <div class="tab-pane fade show active" id="suppliessuppliers-all" role="tabpanel"
          aria-labelledby="suppliessuppliers-all-tab">
          <div class="app-card app-card-orders-table shadow-sm mb-5">
            <div class="app-card-body">
              <div class="table-responsive">
                <table class="table app-table-hover mb-0 text-center">
                  <thead>
                    <tr>
                      <th class="cell">供應商編號</th>
                      <th class="cell">供應商名稱</th>
                      <th class="cell">統編</th>
                      <th class="cell">聯絡人</th>
                      <th class="cell">聯絡電話</th>
                      <th class="cell">地址</th>
                      <th class="cell">類別</th>
                      <th class="cell">合約中</th>
                      <th class="cell"></th>
                    </tr>
                  </thead>
                  <tbody>
                    @for(suppliers of suppliesSuppliers;track $index){
                    <tr>
                      <td class="cell">{{suppliers.suppliesSupplierId}}</td>
                      <td class="cell"><span class="truncate">{{suppliers.suppliesSupplierName}}</span></td>
                      <td class="cell">{{suppliers.suppliesSupplierGui}}</td>
                      <td class="cell">{{suppliers.contactPerson}}</td>
                      <td class="cell">{{suppliers.contactNumber}}</td>
                      <td class="cell"><span class="truncate">{{suppliers.address}}</span></td>
                      <td class="cell">{{suppliers.supplierKeyword}}</td>
                      <td class="cell"><span class="badge"
                          [ngClass]="suppliers.continued ? 'bg-success' : 'bg-secondary'">{{suppliers.continued ?
                          '合約中':'已解約'}}</span>
                      </td>
                      <td class="cell"><a class="btn-sm app-btn-secondary" href="#">修改</a></td>
                    </tr>
                    }
                  </tbody>
                </table>
              </div><!--//table-responsive-->

            </div><!--//app-card-body-->
          </div><!--//app-card-->
          <nav class="app-pagination">
            <ul class="pagination justify-content-center">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">上一頁</a>
              </li>
              <li class="page-item active"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">下一頁</a>
              </li>
            </ul>
          </nav><!--//app-pagination-->

        </div><!--//tab-pane-->

        <div class="tab-pane fade" id="suppliessuppliers-returned" role="tabpanel"
          aria-labelledby="suppliessuppliers-returned-tab">
          <div class="app-card app-card-orders-table mb-5">
            <div class="app-card-body">
              <div class="table-responsive">

                <table class="table mb-0 text-center">
                  <thead>
                    <tr>
                      <th class="cell">供應商編號</th>
                      <th class="cell">供應商名稱</th>
                      <th class="cell">統編</th>
                      <th class="cell">聯絡人</th>
                      <th class="cell">聯絡電話</th>
                      <th class="cell">地址</th>
                      <th class="cell">類別</th>
                      <th class="cell">合約中</th>
                      <th class="cell"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- 合約中的分頁 -->
                    @for(suppliers of suppliesSuppliers;track $index){
                    @if(suppliers.continued){
                    <tr>
                      <td class="cell">{{suppliers.suppliesSupplierId}}</td>
                      <td class="cell"><span class="truncate">{{suppliers.suppliesSupplierName}}</span></td>
                      <td class="cell">{{suppliers.suppliesSupplierGui}}</td>
                      <td class="cell">{{suppliers.contactPerson}}</td>
                      <td class="cell">{{suppliers.contactNumber}}</td>
                      <td class="cell"><span class="truncate">{{suppliers.address}}</span></td>
                      <td class="cell">{{suppliers.supplierKeyword}}</td>
                      <td class="cell"><span class="badge bg-success">合約中</span>
                      </td>
                      <td class="cell"><a class="btn-sm app-btn-secondary" href="#">修改</a></td>
                    </tr>
                    }
                    }
                  </tbody>
                </table>
              </div><!--//table-responsive-->
            </div><!--//app-card-body-->
          </div><!--//app-card-->
        </div><!--//tab-pane-->

        <div class="tab-pane fade" id="suppliessuppliers-rentout" role="tabpanel"
          aria-labelledby="suppliessuppliers-rentout-tab">
          <div class="app-card app-card-orders-table mb-5">
            <div class="app-card-body">
              <div class="table-responsive">
                <table class="table mb-0 text-center">
                  <thead>
                    <tr>
                      <th class="cell">供應商編號</th>
                      <th class="cell">供應商名稱</th>
                      <th class="cell">統編</th>
                      <th class="cell">聯絡人</th>
                      <th class="cell">聯絡電話</th>
                      <th class="cell">地址</th>
                      <th class="cell">類別</th>
                      <th class="cell">合約中</th>
                      <th class="cell"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- 已解約的分頁 -->
                    @for(suppliers of suppliesSuppliers;track $index){
                    @if(!suppliers.continued){
                    <tr>
                      <td class="cell">{{suppliers.suppliesSupplierId}}</td>
                      <td class="cell"><span class="truncate">{{suppliers.suppliesSupplierName}}</span></td>
                      <td class="cell">{{suppliers.suppliesSupplierGui}}</td>
                      <td class="cell">{{suppliers.contactPerson}}</td>
                      <td class="cell">{{suppliers.contactNumber}}</td>
                      <td class="cell"><span class="truncate">{{suppliers.address}}</span></td>
                      <td class="cell">{{suppliers.supplierKeyword}}</td>
                      <td class="cell"><span class="badge bg-secondary">已解約</span>
                      </td>
                      <td class="cell"><a class="btn-sm app-btn-secondary" href="#">修改</a></td>
                    </tr>
                    }
                    }
                  </tbody>
                </table>
              </div><!--//table-responsive-->
            </div><!--//app-card-body-->
          </div><!--//app-card-->
        </div><!--//tab-pane-->
      </div><!--//tab-content-->




    </div><!--//container-fluid-->
  </div><!--//app-content-->

  <footer class="app-footer">

  </footer><!--//app-footer-->

</div><!--//app-wrapper-->