<ngx-sonner-toaster [position]="'top-right'" [richColors]="true"></ngx-sonner-toaster>

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5 mt-0">
  <h1 class="text-center text-white display-6">購物車</h1>
  <ol class="breadcrumb justify-content-center mb-0">
    <li class="breadcrumb-item"><a routerLink="/show/">首頁</a></li>
    <li class="breadcrumb-item active text-white">購物車</li>
  </ol>
</div>
<!-- Single Page Header End -->

<!-- Cart Page Start -->
<div class="container-fluid py-5">
  <div class="container py-5">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">商品圖片</th>
            <th scope="col">商品名稱</th>
            <th scope="col">價格</th>
            <th scope="col">數量</th>
            <th scope="col">小計</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (item of items; track item.productId) {
          <tr>
            <th scope="row">
              <div class="d-flex align-items-center">
                <img [src]="item.image" class="img-fluid me-5"
                     style="width: 80px; height: 80px;" alt="{{ item.name }}" />
              </div>
            </th>
            <td>
              <p class="mb-0 mt-4">{{ item.name }}</p>
            </td>
            <td>
              <p class="mb-0 mt-4">${{ item.price }}</p>
            </td>
            <td>
              <app-quantity [(value)]="item.quantity"
                            (valueChange)="updateQuantity(item, $event)">
              </app-quantity>
            </td>
            <td>
              <p class="mb-0 mt-4">${{ item.price * item.quantity }}</p>
            </td>
            <td>
              <button class="btn btn-md rounded-circle bg-light border mt-4"
                      (click)="remove(item.productId)">
                <i class="fa fa-times text-danger"></i>
              </button>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>

    @if (items.length === 0) {
      <div class="text-center p-4">
        <p>購物車是空的</p>
      </div>
    }

    @if (items.length > 0) {
    <div class="row g-4 justify-content-end">
      <div class="col-7"></div>
      <div class="col-lg-5 col-xl-5">
        <div class="bg-light rounded">
          <div class="p-4">
            <h1 class="display-6 mb-4">總金額</h1>
            <div class="d-flex justify-content-between mb-4">
              <h5 class="mb-0 me-4">小計:</h5>
              <p class="mb-0">${{ subtotal }}</p>
            </div>
            <div class="d-flex justify-content-between">
              <h5 class="mb-0 me-4">運費</h5>
              <div class="">
                <p class="mb-0">${{ shippingFee }}</p>
              </div>
            </div>
          </div>
          <div class="py-4 mb-4 border-top border-bottom d-flex justify-content-between align-items-end">
            <h5 class="mb-0 ps-4 me-4">總金額</h5>
            <p class="mb-0 pe-4 text-primary display-5">${{ total }}</p>
          </div>
          <button (click)="proceedCheckout()"
                  class="btn border-secondary rounded-pill px-4 py-3 text-primary text-uppercase mb-4 ms-4"
                  type="button">
            繼續結帳
          </button>
          <button class="btn btn-outline-danger rounded-pill px-4 py-3 text-uppercase mb-4 ms-4"
                  type="button" (click)="clearCart()">
            清空購物車
          </button>
        </div>
      </div>
    </div>
    }
  </div>
</div>
<!-- Cart Page End -->
