<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
  <h1 class="text-center text-white display-6">商店</h1>
  <ol class="breadcrumb justify-content-center mb-0">
    <li class="breadcrumb-item"><a routerLink="/show/">首頁</a></li>
    <li class="breadcrumb-item active text-white">商店</li>
  </ol>
</div>
<!-- Single Page Header End -->

<div class="container-fluid fruite py-5">
  <div class="container py-5">
    <div class="row g-4">
      <div class="col-lg-12">
        <div class="row g-4">
          <div class="col-xl-3">
            <!-- 搜尋: 暫時不需要 -->
            <!-- <div class="input-group w-100 mx-auto d-flex">
              <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1">
              <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
            </div> -->
            <!-- end 搜尋: 暫時不需要 -->
          </div>
          <div class="col-6"></div>
          <div class="col-xl-3">
            <div class="bg-light ps-3 py-3 rounded d-flex justify-content-between mb-4">
              <label for="fruits">篩選:</label>
              <select id="fruits" name="fruitlist" class="border-0 form-select-sm bg-light me-3" form="fruitform">
                <option value="volvo">價格:低到高</option>
                <option value="saab">價格:高到低</option>
                <option value="opel">最新</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row g-4">
          <div class="col-lg-3">
            <div class="row g-4">
              <div class="col-lg-12">
                <div class="mb-3">
                  <h4>商品分類</h4>
                  <!-- 商品分類 -->
                  <ul class="list-unstyled fruite-categorie">
                    <li *ngFor="let cat of categoryList" (click)="onCategorySelect(cat.categoryID)"
                      [class.active]="selectedCategoryId === cat.categoryID" style="cursor: pointer;">
                      <div class="d-flex justify-content-between fruite-name">
                        <a href="javascript:void(0);"><i class="fa fa-apple-alt text-primary me-2"></i>{{ cat.categoryName }}</a>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- 價格篩選: 有時間再做 -->
              <!-- <div class="col-lg-12">
                <div class="mb-3">
                  <h4 class="mb-2">Price</h4>
                  <input type="range" class="form-range w-100" id="rangeInput" name="rangeInput" min="0" max="500"
                  value="0" oninput="amount.value=rangeInput.value">
                  <output id="amount" name="amount" min-velue="0" max-value="500" for="rangeInput">0</output>
                </div>
              </div> -->
              <!-- end 價格篩選: 有時間再做 -->
              <!-- 其它篩選: 有時間再做 -->
              <!-- <div class="col-lg-12">
                <div class="mb-3">
                  <h4>Additional</h4>
                  <div class="mb-2">
                    <input type="radio" class="me-2" id="Categories-1" name="Categories-1" value="Beverages">
                    <label for="Categories-1"> Organic</label>
                  </div>
                  <div class="mb-2">
                    <input type="radio" class="me-2" id="Categories-2" name="Categories-1" value="Beverages">
                    <label for="Categories-2"> Fresh</label>
                  </div>
                  <div class="mb-2">
                    <input type="radio" class="me-2" id="Categories-3" name="Categories-1" value="Beverages">
                    <label for="Categories-3"> Sales</label>
                  </div>
                  <div class="mb-2">
                    <input type="radio" class="me-2" id="Categories-4" name="Categories-1" value="Beverages">
                    <label for="Categories-4"> Discount</label>
                  </div>
                  <div class="mb-2">
                    <input type="radio" class="me-2" id="Categories-5" name="Categories-1" value="Beverages">
                    <label for="Categories-5"> Expired</label>
                  </div>
                </div>
              </div> -->
              <!-- end 其它篩選: 有時間再做 -->
              <!-- 特色商品: 有時間再做 -->
              <!-- <div class="col-lg-12">
                <h4 class="mb-3">Featured products</h4>
                <div class="d-flex align-items-center justify-content-start">
                  <div class="rounded me-4" style="width: 100px; height: 100px;">
                    <img src="assets/img/featur-1.jpg" class="img-fluid rounded" alt="">
                  </div>
                  <div>
                    <h6 class="mb-2">Big Banana</h6>
                    <div class="d-flex mb-2">
                      <i class="fa fa-star text-secondary"></i>
                      <i class="fa fa-star text-secondary"></i>
                      <i class="fa fa-star text-secondary"></i>
                      <i class="fa fa-star text-secondary"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <div class="d-flex mb-2">
                      <h5 class="fw-bold me-2">2.99 $</h5>
                      <h5 class="text-danger text-decoration-line-through">4.11 $</h5>
                    </div>
                  </div>
                </div>
                <div class="d-flex align-items-center justify-content-start">
                  <div class="rounded me-4" style="width: 100px; height: 100px;">
                    <img src="assets/img/featur-2.jpg" class="img-fluid rounded" alt="">
                  </div>
                  <div>
                    <h6 class="mb-2">Big Banana</h6>
                    <div class="d-flex mb-2">
                      <i class="fa fa-star text-secondary"></i>
                      <i class="fa fa-star text-secondary"></i>
                      <i class="fa fa-star text-secondary"></i>
                      <i class="fa fa-star text-secondary"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <div class="d-flex mb-2">
                      <h5 class="fw-bold me-2">2.99 $</h5>
                      <h5 class="text-danger text-decoration-line-through">4.11 $</h5>
                    </div>
                  </div>
                </div>
                <div class="d-flex align-items-center justify-content-start">
                  <div class="rounded me-4" style="width: 100px; height: 100px;">
                    <img src="assets/img/featur-3.jpg" class="img-fluid rounded" alt="">
                  </div>
                  <div>
                    <h6 class="mb-2">Big Banana</h6>
                    <div class="d-flex mb-2">
                      <i class="fa fa-star text-secondary"></i>
                      <i class="fa fa-star text-secondary"></i>
                      <i class="fa fa-star text-secondary"></i>
                      <i class="fa fa-star text-secondary"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <div class="d-flex mb-2">
                      <h5 class="fw-bold me-2">2.99 $</h5>
                      <h5 class="text-danger text-decoration-line-through">4.11 $</h5>
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-center my-4">
                  <a href="#" class="btn border border-secondary px-4 py-3 rounded-pill text-primary w-100">Vew More</a>
                </div>
              </div> -->
              <!-- end 特色商品: 有時間再做 -->
              <div class="col-lg-12">
                <div class="position-relative">
                  <img src="assets/img/banner-fruits.jpg" class="img-fluid w-100 rounded" alt="">
                  <div class="position-absolute" style="top: 50%; right: 10px; transform: translateY(-50%);">
                    <h3 class="text-secondary fw-bold">Fresh <br> Fruits <br> Banner</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-9">
            <div class="row g-4 justify-content-center">
              <ng-container *ngIf="!loading; else loadingTpl">
                <div class="col-md-6 col-lg-6 col-xl-4" *ngFor="let p of productList">
                  <a [routerLink]="['/show/shop', p.slug]" class="rounded position-relative fruite-item">
                    <div class="fruite-img">
                      <img [src]="p.thumbnailPhotoPath" class="img-fluid w-100 rounded-top" alt="{{p.productName}}">
                    </div>
                    <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                      <h4>{{ p.productName }}</h4>
                      <div class="d-flex justify-content-between flex-lg-wrap">
                        <p class="text-muted mb-0" *ngIf="p.originalPrice">
                          <del>{{ p.originalPrice | currency:'TWD' }}</del>
                        </p>
                        <p class="text-dark fs-5 fw-bold mb-0">
                          {{ p.salePrice | currency:'TWD' }}
                        </p>
                      </div>
                    </div>
                  </a>
                </div>
              </ng-container>

              <!-- 分頁 -->
              <div class="col-12">
                <div class="pagination d-flex justify-content-center mt-5">
                  <!-- 上一頁 -->
                  <a href="javascript:void(0)" class="rounded" [class.disabled]="page === 1"
                    (click)="onPageChange(page - 1)">«</a>

                  <!-- 頁碼 -->
                  <a href="javascript:void(0)" class="rounded" *ngFor="let pg of totalPages"
                    [class.active]="page === pg" (click)="onPageChange(pg)">
                    {{ pg }}
                  </a>

                  <!-- 下一頁 -->
                  <a href="javascript:void(0)" class="rounded" [class.disabled]="page === totalPages.length"
                    (click)="onPageChange(page + 1)">»</a>
                </div>
              </div>


              <ng-template #loadingTpl>
                <div class="text-center py-5">
                  <div class="spinner-border"></div>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
