<div class="card custom-card-width" *ngIf="!isLoading; else loadingTemplate">
  <div class="card-header">
    我的房間
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="room-images">
          <ng-container *ngIf="roomImages.length > 0; else noImage">
            <img *ngFor="let image of roomImages; let i = index" [src]="getImageUrl(image)" alt="房間照片 {{ i + 1 }}">
          </ng-container>
          <ng-template #noImage>
            <div class="text-center">無房間照片</div>
          </ng-template>
        </div>
      </div>
      <div class="col-12 col-md-8">
        <dl class="row">
          <div class="col-12">
            <!-- <dt class="col-sm-4">姓名：</dt>
            <dd class="col-sm-8">{{ Member.fName || '未提供' }}</dd>
            <dt class="col-sm-4">身分證：</dt>
            <dd class="col-sm-8">{{ Member.fIdNumber || '無' }}</dd> -->
            <dt class="col-sm-4">房號：</dt>
            <dd class="col-sm-8">{{ RoomTable.fRoomName || '無' }}</dd>
            <dt class="col-sm-4">房名：</dt>
            <dd class="col-sm-8">{{ RoomTable.fRoomAlias || '無' }}</dd>
          </div>
          <div class="col-12">
            <dt class="col-sm-4">房間類型：</dt>
            <dd class="col-sm-8">{{ RoomTable.fRoomType === null ? '無' : (RoomTable.fRoomType ? '單人房' : '多人房') }}</dd>
            <dt class="col-sm-4">床位編號：</dt>
            <dd class="col-sm-8">{{ RoomBed.fBedCode || '無' }}</dd>
            <dt class="col-sm-4">房間價格：</dt>
            <dd class="col-sm-8">{{ RoomTable.fRoomPrice ? `NT $${RoomTable.fRoomPrice} 元/月` : '無' }}</dd>
            <dt class="col-sm-4">繳款狀態：</dt>
            <dd class="col-sm-8">
              <ng-container *ngIf="RoomOccupancy && RoomOccupancy.fBillingStatus !== undefined">
                {{ RoomOccupancy.fBillingStatus ? '已繳費，本月無須繳費' : '請盡速繳費' }}
              </ng-container>
              <ng-container *ngIf="!RoomOccupancy || RoomOccupancy.fBillingStatus === undefined">
                無紀錄
              </ng-container>
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
  <div class="alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</div>
</div>

<ng-template #loadingTemplate>
  <div class="text-center py-5">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">加載中...</span>
    </div>
  </div>
</ng-template>