<div class="app-wrapper">

  <div class="app-content pt-3 p-md-3 p-lg-4">
    <div class="container-xl">

      <div class="row g-3 mb-4 align-items-center justify-content-between">
        <div class="col-auto">
          <h1 class="app-page-title mb-0">銷貨單列表</h1>
        </div>
        <div class="col-auto">
          <div class="page-utilities">
            <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
              <div class="col-auto">
                <form class="table-search-form row gx-1 align-items-center">
                  <div class="col-auto">
                    <input type="text" id="search-suppliessales" name="searchsuppliessales"
                      class="form-control search-suppliessales" placeholder="請輸入關鍵字">
                  </div>
                  <div class="col-auto">
                    <button type="submit" class="btn app-btn-secondary">查詢</button>
                  </div>
                </form>

              </div><!--//col-->
            </div><!--//row-->
          </div><!--//table-utilities-->
        </div><!--//col-auto-->
      </div><!--//row-->


      <div>
        <button class="app-btn-primary mb-4" data-bs-toggle="modal" data-bs-target="#addSalesModal"
          (click)="resetNewSales()">新增銷貨單</button>
      </div>


      <nav id="suppliessales-table-tab"
        class="suppliessales-table-tab app-nav-tabs nav shadow-sm flex-column flex-sm-row mb-4">
        <a class="flex-sm-fill text-sm-center nav-link active" id="suppliessales-all-tab" data-bs-toggle="tab"
          href="#suppliessales-all" role="tab" aria-controls="suppliessales-all" aria-selected="true">總覽</a>
        <a class="flex-sm-fill text-sm-center nav-link" id="suppliessales-received-tab" data-bs-toggle="tab"
          href="#suppliessales-received" role="tab" aria-controls="suppliessales-received" aria-selected="false">已到貨</a>
        <a class="flex-sm-fill text-sm-center nav-link" id="suppliessales-undelivered-tab" data-bs-toggle="tab"
          href="#suppliessales-undelivered" role="tab" aria-controls="suppliessales-undelivered"
          aria-selected="false">未到貨</a>
        <a class="flex-sm-fill text-sm-center nav-link" id="suppliessales-cancelled-tab" data-bs-toggle="tab"
          href="#suppliessales-cancelled" role="tab" aria-controls="suppliessales-cancelled"
          aria-selected="false">已取消</a>
      </nav>

      <!-- 利用Modal新增品項 -->
      <div class="modal fade" id="addSalesModal" data-bs-backdrop="static" tabindex="-1"
        aria-labelledby="addSalesModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content">
            <form (ngSubmit)="submitAddSales()" #addSuppliesForm="ngForm">
              <div class="modal-header">
                <h5 class="modal-title" id="addSalesModalLabel">新增品項</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <!-- 物品名稱 -->
                <!-- <div class="mb-3">
                  <label for="suppliesProductName" class="form-label">物品名稱</label>
                  <input type="text" id="suppliesProductName" class="form-control"
                    [(ngModel)]="newProduct.suppliesProductName" name="suppliesProductName" required />
                </div> -->
                <!-- 供應商名稱 (下拉式選單) -->
                <!-- <div class="mb-3">
                  <label for="suppliesSupplierName" class="form-label">供應商名稱</label>
                  <select id="suppliesSupplierName" class="form-select" [(ngModel)]="newProduct.supplierId"
                    name="supplierId" required (change)="onSupplierChange($event)">
                    <option [ngValue]="null" disabled selected>請選擇供應商</option>
                    @for(supplier of suppliers;track $index)
                    { <option [ngValue]="supplier.suppliesSupplierId">{{supplier.suppliesSupplierName}}</option> }
                  </select>
                </div> -->
                <!-- 剩餘數量 -->
                <!-- <div class="mb-3">
                  <label for="unitsInStock" class="form-label">剩餘數量</label>
                  <input type="number" id="unitsInStock" class="form-control" placeholder="0"
                    [(ngModel)]="newProduct.unitsInStock" name="unitsInStock" required />
                </div> -->
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                  取消
                </button>
                <button type="submit" class="btn btn-success" [disabled]="!addSuppliesForm.form.valid">
                  儲存
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- 新增用Modal -->


      <div class="tab-content" id="suppliessales-table-tab-content">
        <div class="tab-pane fade show active" id="suppliessales-all" role="tabpanel"
          aria-labelledby="suppliessales-all-tab">
          <div class="app-card app-card-orders-table shadow-sm mb-5">
            <div class="app-card-body">
              <div class="table-responsive">
                <table class="table app-table-hover mb-0 text-center">
                  <thead>
                    <tr>
                      <th class="cell">銷貨單編號</th>
                      <th class="cell">訂單成立日</th>
                      <th class="cell">購買人</th>
                      <th class="cell">到貨日</th>
                      <th class="cell">銷貨單狀態</th>
                      <th class="cell"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      @for(saleOrders of suppliesSales;track $index)
                      {
                      <td class="cell">{{saleOrders.suppliesSalesOrderId}}</td>
                      <td class="cell"><span>{{saleOrders.orderDate}}</span><span class="note"></span></td>
                      <td class="cell">{{saleOrders.customerName}}</td>
                      <td class="cell"><span>{{saleOrders.receivedDate}}</span><span class="note"></span></td>
                      <td class="cell">
                        @if(saleOrders.orderStatus === '已到貨'){<span class="badge bg-success">已到貨</span>}
                        @if(saleOrders.orderStatus === '未到貨'){<span class="badge bg-danger">未到貨</span>}
                        @if(saleOrders.orderStatus === '已取消'){<span class="badge bg-secondary">已取消</span>}
                      </td>
                      <td class="cell"><a class="btn-sm app-btn-secondary" href="#">修改</a></td>
                      }
                    </tr>
                  </tbody>
                </table>
              </div><!--//table-responsive-->

            </div><!--//app-card-body-->
          </div><!--//app-card-->
          <nav class="app-pagination">
            <ul class="pagination justify-content-center">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">上一頁</a>
              </li>
              <li class="page-item active"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">下一頁</a>
              </li>
            </ul>
          </nav><!--//app-pagination-->

        </div><!--//tab-pane-->

        <div class="tab-pane fade" id="suppliessales-received" role="tabpanel"
          aria-labelledby="suppliessales-received-tab">
          <div class="app-card app-card-orders-table mb-5">
            <div class="app-card-body">
              <div class="table-responsive">

                <table class="table mb-0 text-center">
                  <thead>
                    <tr>
                      <th class="cell">銷貨單編號</th>
                      <th class="cell">訂單成立日</th>
                      <th class="cell">購買人</th>
                      <th class="cell">到貨日</th>
                      <th class="cell">銷貨單狀態</th>
                      <th class="cell"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      @for(saleOrders of suppliesSales;track $index)
                      {
                      @if(saleOrders.orderStatus === '已到貨')
                      {
                      <td class="cell">{{saleOrders.suppliesSalesOrderId}}</td>
                      <td class="cell"><span>{{saleOrders.orderDate}}</span><span class="note"></span></td>
                      <td class="cell">{{saleOrders.customerName}}</td>
                      <td class="cell"><span>{{saleOrders.receivedDate}}</span><span class="note"></span></td>
                      <td class="cell"><span class="badge bg-success">已到貨</span></td>
                      <td class="cell"><a class="btn-sm app-btn-secondary" href="#">修改</a></td>
                      }
                      }
                    </tr>
                  </tbody>
                </table>
              </div><!--//table-responsive-->
            </div><!--//app-card-body-->
          </div><!--//app-card-->
        </div><!--//tab-pane-->

        <div class="tab-pane fade" id="suppliessales-undelivered" role="tabpanel"
          aria-labelledby="suppliessales-undelivered-tab">
          <div class="app-card app-card-orders-table mb-5">
            <div class="app-card-body">
              <div class="table-responsive">
                <table class="table mb-0 text-center">
                  <thead>
                    <tr>
                      <th class="cell">銷貨單編號</th>
                      <th class="cell">訂單成立日</th>
                      <th class="cell">購買人</th>
                      <th class="cell">到貨日</th>
                      <th class="cell">銷貨單狀態</th>
                      <th class="cell"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      @for(saleOrders of suppliesSales;track $index)
                      {
                      @if(saleOrders.orderStatus === '未到貨')
                      {
                      <td class="cell">{{saleOrders.suppliesSalesOrderId}}</td>
                      <td class="cell"><span>{{saleOrders.orderDate}}</span><span class="note"></span></td>
                      <td class="cell">{{saleOrders.customerName}}</td>
                      <td class="cell"><span>{{saleOrders.receivedDate}}</span><span class="note"></span></td>
                      <td class="cell"><span class="badge bg-danger">未到貨</span></td>
                      <td class="cell"><a class="btn-sm app-btn-secondary" href="#">修改</a></td>
                      }
                      }
                    </tr>
                  </tbody>
                </table>
              </div><!--//table-responsive-->
            </div><!--//app-card-body-->
          </div><!--//app-card-->
        </div><!--//tab-pane-->
        <div class="tab-pane fade" id="suppliessales-cancelled" role="tabpanel"
          aria-labelledby="suppliessales-cancelled-tab">
          <div class="app-card app-card-orders-table mb-5">
            <div class="app-card-body">
              <div class="table-responsive">

                <table class="table mb-0 text-center">
                  <thead>
                    <tr>
                      <th class="cell">銷貨單編號</th>
                      <th class="cell">訂單成立日</th>
                      <th class="cell">購買人</th>
                      <th class="cell">到貨日</th>
                      <th class="cell">銷貨單狀態</th>
                      <th class="cell"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      @for(saleOrders of suppliesSales;track $index)
                      {
                      @if(saleOrders.orderStatus === '已取消')
                      {
                      <td class="cell">{{saleOrders.suppliesSalesOrderId}}</td>
                      <td class="cell"><span>{{saleOrders.orderDate}}</span><span class="note"></span></td>
                      <td class="cell">{{saleOrders.customerName}}</td>
                      <td class="cell"><span>{{saleOrders.receivedDate}}</span><span class="note"></span></td>
                      <td class="cell"><span class="badge bg-secondary">已取消</span></td>
                      <td class="cell"><a class="btn-sm app-btn-secondary" href="#">修改</a></td>
                      }
                      }
                    </tr>
                  </tbody>
                </table>
              </div><!--//table-responsive-->
            </div><!--//app-card-body-->
          </div><!--//app-card-->
        </div><!--//tab-pane-->
      </div><!--//tab-content-->




    </div><!--//container-fluid-->
  </div><!--//app-content-->

  <footer class="app-footer">

  </footer><!--//app-footer-->

</div><!--//app-wrapper-->