<div class="app-wrapper">

  <div class="app-content pt-3 p-md-3 p-lg-4">
    <div class="container-xl">

      <div class="row g-3 mb-4 align-items-center justify-content-between">
        <div class="col-auto">
          <h1 class="app-page-title mb-0">銷貨單列表</h1>
        </div>
        <div class="col-auto">
          <div class="page-utilities">
            <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
              <div class="col-auto">
                <form class="table-search-form row gx-1 align-items-center" (ngSubmit)="searchSalesOrders()">
                  <div class="col-auto">
                    <input type="text" id="search-suppliessales" name="searchsuppliessales"
                      class="form-control search-suppliessales" placeholder="請輸入關鍵字" [(ngModel)]="searchKeyword">
                  </div>
                  <div class="col-auto">
                    <button type="submit" class="btn app-btn-secondary">查詢</button>
                  </div>
                </form>

              </div><!--//col-->
            </div><!--//row-->
          </div><!--//table-utilities-->
        </div><!--//col-auto-->
      </div><!--//row-->


      <div>
        <button class="app-btn-primary mb-4" data-bs-toggle="modal" data-bs-target="#addSalesModal"
          (click)="resetNewSales()">新增銷貨單</button>
      </div>


      <nav id="suppliessales-table-tab"
        class="suppliessales-table-tab app-nav-tabs nav shadow-sm flex-column flex-sm-row mb-4">
        <a class="flex-sm-fill text-sm-center nav-link active" id="suppliessales-all-tab" data-bs-toggle="tab"
          href="#suppliessales-all" role="tab" aria-controls="suppliessales-all" aria-selected="true">總覽</a>
        <a class="flex-sm-fill text-sm-center nav-link" id="suppliessales-received-tab" data-bs-toggle="tab"
          href="#suppliessales-received" role="tab" aria-controls="suppliessales-received" aria-selected="false">已到貨</a>
        <a class="flex-sm-fill text-sm-center nav-link" id="suppliessales-undelivered-tab" data-bs-toggle="tab"
          href="#suppliessales-undelivered" role="tab" aria-controls="suppliessales-undelivered"
          aria-selected="false">未到貨</a>
        <a class="flex-sm-fill text-sm-center nav-link" id="suppliessales-cancelled-tab" data-bs-toggle="tab"
          href="#suppliessales-cancelled" role="tab" aria-controls="suppliessales-cancelled"
          aria-selected="false">已取消</a>
      </nav>

      <!-- 利用Modal新增銷貨單 -->
      <div class="modal fade" id="addSalesModal" data-bs-backdrop="static" tabindex="-1"
        aria-labelledby="addSalesModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-lg custom-modal-width">
          <div class="modal-content">
            <form (ngSubmit)="submitAddSales()" #addSalesModal="ngForm">
              <div class="modal-header">
                <h5 class="modal-title" id="addSalesModalLabel">新增銷貨單</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="ms-3 mt-3">
                <button type="button" class="btn-primary" (click)="addSalesItem()">新增物品</button>
              </div>
              <div class="modal-body">
                <!-- 顧客名稱 -->
                <div class="mb-3 col-3">
                  <label for="suppliesSalesCustomerName" class="form-label">顧客名稱</label>
                  <input type="text" id="suppliesSalesCustomerName" class="form-control"
                    [(ngModel)]="newSales.customerName" name="suppliesSalesCustomerName" required />
                </div>
                <table class="table table-bordered text-center align-middle">
                  <thead>
                    <tr>
                      <th style="width: 20%;">類別名稱</th>
                      <th style="width: 25%;">供應商名稱</th>
                      <th style="width: 30%;">物品名稱</th>
                      <th style="width: 13%;">有效期限</th>
                      <th style="width: 7%;">購買數量</th>
                      <th style="width: 5%;"></th>
                    </tr>
                  </thead>
                  <tbody>
                    @for(item of salesItems; track $index) {
                    <tr>
                      <!-- 類別 -->
                      <td>
                        <select class="form-select" [(ngModel)]="item.suppliesCategoryId"
                          name="suppliesCategoryId{{$index}}" required (change)="onCategoryChangeForItem($index)">
                          <option [ngValue]="null" disabled selected>請選擇類別</option>
                          @for(category of categories;track $index)
                          { <option [ngValue]="category.suppliesCategoryId">{{category.suppliesCategoryName}}</option> }
                        </select>
                      </td>
                      <!-- 供應商 -->
                      <td>
                        <select class="form-select" [(ngModel)]="item.suppliesSupplierId"
                          name="suppliesSupplierId{{$index}}" required [disabled]="!item.suppliesCategoryId"
                          (change)="onSupplierChangeForItem($index)">
                          <option [ngValue]="null" disabled selected>請選擇供應商</option>
                          @for(supplier of item.filteredSuppliers;track $index)
                          { <option [ngValue]="supplier.suppliesSupplierId">{{supplier.suppliesSupplierName}}</option> }
                        </select>
                      </td>
                      <!-- 物品 -->
                      <td>
                        <select class="form-select" [(ngModel)]="item.suppliesProductId"
                          name="suppliesProductId{{$index}}" required [disabled]="!item.suppliesSupplierId"
                          (change)="onProductChangeForItem($index)">
                          <option [ngValue]="null" disabled selected>請選擇物品</option>
                          @for(product of item.filteredProducts;track $index)
                          { <option [ngValue]="product.suppliesProductID">{{product.suppliesProductName}}</option> }
                        </select>
                      </td>
                      <!-- 有效期限 -->
                      <td>
                        <select class="form-select" [(ngModel)]="item.expiryDate" name="expiryDate{{$index}}" required
                          [disabled]="!item.suppliesProductId">
                          <option [ngValue]="null" disabled selected>請選擇期限</option>
                          @for(date of item.filteredDates;track $index)
                          { <option [ngValue]="date.expiryDate">{{date.expiryDate}}</option> }
                        </select>
                      </td>
                      <!-- 購買數量 -->
                      <td>
                        <input type="number" class="form-control" placeholder="0" [(ngModel)]="item.quantityOfSales"
                          name="quantityOfSales{{$index}}" required />
                      </td>
                      <td>
                        <button type="button" class="btn-close" (click)="removeSalesItem($index)"></button>
                      </td>
                    </tr>
                    }
                  </tbody>
                </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="clearSalesItems()">
                  取消
                </button>
                <button type="submit" class="btn btn-success" [disabled]="!addSalesModal.form.valid">
                  儲存
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- 新增用Modal -->

      <!-- 利用Modal查看詳細 -->
      <div class="modal fade" id="salesDetailModal" tabindex="-1" aria-labelledby="salesDetailModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-lg custom-modal-width">
          <div class="modal-content">
            <form #salesDetailModal="ngForm">
              <div class="modal-header">
                <h5 class="modal-title" id="salesDetailModalLabel">銷貨單詳細</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <table class="table table-bordered text-center align-middle">
                  <thead>
                    <tr>
                      <th style="width: 5%;">編號</th>
                      <th style="width: 20%;">類別名稱</th>
                      <th style="width: 25%;">供應商名稱</th>
                      <th style="width: 30%;">物品名稱</th>
                      <th style="width: 13%;">有效期限</th>
                      <th style="width: 7%;">購買數量</th>
                    </tr>
                  </thead>
                  <tbody>
                    @for(detail of selectedSalesOrder; track $index) {
                    <tr>
                      <td>
                        @if($index === 0) { {{detail.suppliesSalesOrderId}} }
                      </td>
                      <td>{{detail.suppliesCategoryName}}</td>
                      <td>{{detail.suppliesSupplierName}}</td>
                      <td>{{detail.suppliesProductName}}</td>
                      <td>{{detail.expiryDate}}</td>
                      <td>{{detail.quantityOfSales}}</td>
                    </tr>
                    }
                  </tbody>
                </table>
              </div>
              <div class="modal-footer d-flex">
                <button type="button" class="btn btn-danger me-auto" (click)="confirmUpdateOrderStatus('已取消')"
                  [disabled]="!canUpdateStatus()"> 取消此單
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> 返回 </button>
                <button type="button" class="btn btn-primary" (click)="confirmUpdateOrderStatus('已到貨')"
                  [disabled]="!canUpdateStatus()"> 已到貨 </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- 詳細用Modal -->

      <!-- 全部 -->
      <div class="tab-content" id="suppliessales-table-tab-content">
        <div class="tab-pane fade show active" id="suppliessales-all" role="tabpanel"
          aria-labelledby="suppliessales-all-tab">
          <div class="app-card app-card-orders-table shadow-sm mb-5">
            <div class="app-card-body">
              <div class="table-responsive">
                <table class="table app-table-hover mb-0 text-center">
                  <thead>
                    <tr>
                      <th class="cell">銷貨單編號</th>
                      <th class="cell">訂單成立日</th>
                      <th class="cell">購買人</th>
                      <th class="cell">到貨日</th>
                      <th class="cell">銷貨單狀態</th>
                      <th class="cell"></th>
                    </tr>
                  </thead>
                  <tbody>
                    @for(saleOrders of uniqueSalesOrders;track $index)
                    {
                    @if(saleOrders.orderStatus !== '已取消'){
                    <tr>
                      <td class="cell">{{saleOrders.suppliesSalesOrderId}}</td>
                      <td class="cell"><span>{{saleOrders.orderDate}}</span><span class="note"></span></td>
                      <td class="cell">{{saleOrders.customerName}}</td>
                      <td class="cell"><span>{{saleOrders.receivedDate}}</span><span class="note"></span></td>
                      <td class="cell">
                        @if(saleOrders.orderStatus === '已到貨'){<span class="badge bg-success">已到貨</span>}
                        @if(saleOrders.orderStatus === '未到貨'){<span class="badge bg-danger">未到貨</span>}
                        @if(saleOrders.orderStatus === '已取消'){<span class="badge bg-secondary">已取消</span>}
                      </td>
                      <td class="cell">
                        <button class="btn-sm app-btn-secondary" data-bs-toggle="modal"
                          data-bs-target="#salesDetailModal" (click)="showSalesDetail(saleOrders)">詳細</button>
                      </td>
                    </tr>
                    }
                    }
                  </tbody>
                </table>
              </div><!--//table-responsive-->

            </div><!--//app-card-body-->
          </div><!--//app-card-->
          <nav class="app-pagination">
            <ul class="pagination justify-content-center">
              <li class="page-item" [class.disabled]="currentPage === 1">
                <a class="page-link" (click)="changePage(currentPage - 1)">上一頁</a>
              </li>

              @for(page of [].constructor(totalPages);track $index)
              {
              <li class="page-item" [class.active]="currentPage === $index + 1">
                <button class="page-link" (click)="changePage($index + 1)">{{ $index + 1 }}</button>
              </li>
              }
              <li class="page-item" [class.disabled]="currentPage === totalPages">
                <button class="page-link" (click)="changePage(currentPage + 1)">下一頁</button>
              </li>
            </ul>
          </nav><!--//app-pagination-->

        </div><!--//tab-pane-->

        <!-- 已到貨標籤 -->
        <div class="tab-pane fade" id="suppliessales-received" role="tabpanel"
          aria-labelledby="suppliessales-received-tab">
          <div class="app-card app-card-orders-table mb-5">
            <div class="app-card-body">
              <div class="table-responsive">

                <table class="table mb-0 text-center">
                  <thead>
                    <tr>
                      <th class="cell">銷貨單編號</th>
                      <th class="cell">訂單成立日</th>
                      <th class="cell">購買人</th>
                      <th class="cell">到貨日</th>
                      <th class="cell">銷貨單狀態</th>
                      <th class="cell"></th>
                    </tr>
                  </thead>
                  <tbody>
                    @for(saleOrders of uniqueSalesOrders;track $index)
                    {
                    @if(saleOrders.orderStatus === '已到貨')
                    {
                    <tr>
                      <td class="cell">{{saleOrders.suppliesSalesOrderId}}</td>
                      <td class="cell"><span>{{saleOrders.orderDate}}</span><span class="note"></span></td>
                      <td class="cell">{{saleOrders.customerName}}</td>
                      <td class="cell"><span>{{saleOrders.receivedDate}}</span><span class="note"></span></td>
                      <td class="cell"><span class="badge bg-success">已到貨</span></td>
                      <td class="cell"> <button class="btn-sm app-btn-secondary" data-bs-toggle="modal"
                          data-bs-target="#salesDetailModal" (click)="showSalesDetail(saleOrders)">詳細</button></td>
                    </tr>
                    }
                    }
                  </tbody>
                </table>
              </div><!--//table-responsive-->
            </div><!--//app-card-body-->
          </div><!--//app-card-->
        </div><!--//tab-pane-->

        <!-- 未到貨標籤 -->
        <div class="tab-pane fade" id="suppliessales-undelivered" role="tabpanel"
          aria-labelledby="suppliessales-undelivered-tab">
          <div class="app-card app-card-orders-table mb-5">
            <div class="app-card-body">
              <div class="table-responsive">
                <table class="table mb-0 text-center">
                  <thead>
                    <tr>
                      <th class="cell">銷貨單編號</th>
                      <th class="cell">訂單成立日</th>
                      <th class="cell">購買人</th>
                      <th class="cell">到貨日</th>
                      <th class="cell">銷貨單狀態</th>
                      <th class="cell"></th>
                    </tr>
                  </thead>
                  <tbody>
                    @for(saleOrders of uniqueSalesOrders;track $index)
                    {
                    @if(saleOrders.orderStatus === '未到貨')
                    {
                    <tr>
                      <td class="cell">{{saleOrders.suppliesSalesOrderId}}</td>
                      <td class="cell"><span>{{saleOrders.orderDate}}</span><span class="note"></span></td>
                      <td class="cell">{{saleOrders.customerName}}</td>
                      <td class="cell"><span>{{saleOrders.receivedDate}}</span><span class="note"></span></td>
                      <td class="cell"><span class="badge bg-danger">未到貨</span></td>
                      <td class="cell"> <button class="btn-sm app-btn-secondary" data-bs-toggle="modal"
                          data-bs-target="#salesDetailModal" (click)="showSalesDetail(saleOrders)">詳細</button></td>
                    </tr>
                    }
                    }
                  </tbody>
                </table>
              </div><!--//table-responsive-->
            </div><!--//app-card-body-->
          </div><!--//app-card-->
        </div><!--//tab-pane-->

        <!-- 已取消標籤 -->
        <div class="tab-pane fade" id="suppliessales-cancelled" role="tabpanel"
          aria-labelledby="suppliessales-cancelled-tab">
          <div class="app-card app-card-orders-table mb-5">
            <div class="app-card-body">
              <div class="table-responsive">
                <table class="table mb-0 text-center">
                  <thead>
                    <tr>
                      <th class="cell">銷貨單編號</th>
                      <th class="cell">訂單成立日</th>
                      <th class="cell">購買人</th>
                      <th class="cell">到貨日</th>
                      <th class="cell">銷貨單狀態</th>
                      <th class="cell"></th>
                    </tr>
                  </thead>
                  <tbody>
                    @for(saleOrders of uniqueSalesOrders;track $index)
                    {
                    @if(saleOrders.orderStatus === '已取消')
                    {
                    <tr>
                      <td class="cell">{{saleOrders.suppliesSalesOrderId}}</td>
                      <td class="cell"><span>{{saleOrders.orderDate}}</span><span class="note"></span></td>
                      <td class="cell">{{saleOrders.customerName}}</td>
                      <td class="cell"><span>{{saleOrders.receivedDate}}</span><span class="note"></span></td>
                      <td class="cell"><span class="badge bg-secondary">已取消</span></td>
                      <td class="cell"> <button class="btn-sm app-btn-secondary" data-bs-toggle="modal"
                          data-bs-target="#salesDetailModal" (click)="showSalesDetail(saleOrders)">詳細</button></td>
                    </tr>
                    }
                    }
                  </tbody>
                </table>
              </div><!--//table-responsive-->
            </div><!--//app-card-body-->
          </div><!--//app-card-->
        </div><!--//tab-pane-->
      </div><!--//tab-content-->




    </div><!--//container-fluid-->
  </div><!--//app-content-->

  <footer class="app-footer">

  </footer><!--//app-footer-->

</div><!--//app-wrapper-->