<div class="app-wrapper">

  <div class="app-content pt-3 p-md-3 p-lg-4">
    <div class="container-xl">

      <div class="row g-3 mb-4 align-items-center justify-content-between">
        <div class="col-auto">
          <h1 class="app-page-title mb-0">銷貨單列表</h1>
        </div>
        <div class="col-auto">
          <div class="page-utilities">
            <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
              <div class="col-auto">
                <form class="table-search-form row gx-1 align-items-center">
                  <div class="col-auto">
                    <input type="text" id="search-suppliessales" name="searchsuppliessales"
                      class="form-control search-suppliessales" placeholder="請輸入關鍵字">
                  </div>
                  <div class="col-auto">
                    <button type="submit" class="btn app-btn-secondary">查詢</button>
                  </div>
                </form>

              </div><!--//col-->
              <div class="col-auto">

                <select class="form-select w-auto">
                  <option selected value="option-1">--類別--</option>
                  <option value="option-2"></option>
                  <option value="option-3"></option>
                  <option value="option-4"></option>

                </select>
              </div>
            </div><!--//row-->
          </div><!--//table-utilities-->
        </div><!--//col-auto-->
      </div><!--//row-->


      <div>
        <button class="app-btn-primary mb-4">新增銷貨單</button>
      </div>


      <nav id="suppliessales-table-tab"
        class="suppliessales-table-tab app-nav-tabs nav shadow-sm flex-column flex-sm-row mb-4">
        <a class="flex-sm-fill text-sm-center nav-link active" id="suppliessales-all-tab" data-bs-toggle="tab"
          href="#suppliessales-all" role="tab" aria-controls="suppliessales-all" aria-selected="true">總覽</a>
        <a class="flex-sm-fill text-sm-center nav-link" id="suppliessales-received-tab" data-bs-toggle="tab"
          href="#suppliessales-received" role="tab" aria-controls="suppliessales-received" aria-selected="false">已到貨</a>
        <a class="flex-sm-fill text-sm-center nav-link" id="suppliessales-undelivered-tab" data-bs-toggle="tab"
          href="#suppliessales-undelivered" role="tab" aria-controls="suppliessales-undelivered"
          aria-selected="false">未到貨</a>
      </nav>


      <div class="tab-content" id="suppliessales-table-tab-content">
        <div class="tab-pane fade show active" id="suppliessales-all" role="tabpanel"
          aria-labelledby="suppliessales-all-tab">
          <div class="app-card app-card-orders-table shadow-sm mb-5">
            <div class="app-card-body">
              <div class="table-responsive">
                <table class="table app-table-hover mb-0 text-center">
                  <thead>
                    <tr>
                      <th class="cell">銷貨單編號</th>
                      <th class="cell">訂單成立日</th>
                      <th class="cell">購買人</th>
                      <th class="cell">到貨日</th>
                      <th class="cell">銷貨單狀態</th>
                      <th class="cell"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="cell">SuppliesSalesOrderID</td>
                      <td class="cell"><span>OrderDate(月日)</span><span class="note">OrderDate(年)</span></td>
                      <td class="cell">CustomerName(Name)</td>
                      <td class="cell"><span>ReceivedDate(月日)</span><span class="note">ReceivedDate(年)</span></td>
                      <td class="cell"><span class="badge bg-success">OrderStatus</span></td>
                      <td class="cell"><a class="btn-sm app-btn-secondary" href="#">修改</a></td>
                    </tr>
                  </tbody>
                </table>
              </div><!--//table-responsive-->

            </div><!--//app-card-body-->
          </div><!--//app-card-->
          <nav class="app-pagination">
            <ul class="pagination justify-content-center">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">上一頁</a>
              </li>
              <li class="page-item active"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">下一頁</a>
              </li>
            </ul>
          </nav><!--//app-pagination-->

        </div><!--//tab-pane-->

        <div class="tab-pane fade" id="suppliessales-received" role="tabpanel"
          aria-labelledby="suppliessales-received-tab">
          <div class="app-card app-card-orders-table mb-5">
            <div class="app-card-body">
              <div class="table-responsive">

                <table class="table mb-0 text-center">
                  <thead>
                    <tr>
                      <th class="cell">銷貨單編號</th>
                      <th class="cell">訂單成立日</th>
                      <th class="cell">購買人</th>
                      <th class="cell">到貨日</th>
                      <th class="cell">銷貨單狀態</th>
                      <th class="cell"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="cell">#15346</td>
                      <td class="cell"><span class="truncate">Lorem ipsum dolor sit amet eget volutpat erat</span></td>
                      <td class="cell">John Sanders</td>
                      <td class="cell"><span>17 Oct</span><span class="note">2:16 PM</span></td>
                      <td class="cell">$259.35</td>
                      <td class="cell"><span class="badge bg-success">已到貨</span></td>
                      <td class="cell"><a class="btn-sm app-btn-secondary" href="#">View</a></td>
                    </tr>
                  </tbody>
                </table>
              </div><!--//table-responsive-->
            </div><!--//app-card-body-->
          </div><!--//app-card-->
        </div><!--//tab-pane-->

        <div class="tab-pane fade" id="suppliessales-undelivered" role="tabpanel"
          aria-labelledby="suppliessales-undelivered-tab">
          <div class="app-card app-card-orders-table mb-5">
            <div class="app-card-body">
              <div class="table-responsive">
                <table class="table mb-0 text-center">
                  <thead>
                    <tr>
                      <th class="cell">銷貨單編號</th>
                      <th class="cell">訂單成立日</th>
                      <th class="cell">購買人</th>
                      <th class="cell">到貨日</th>
                      <th class="cell">銷貨單狀態</th>
                      <th class="cell"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="cell">#15345</td>
                      <td class="cell"><span class="truncate">Consectetur adipiscing elit</span></td>
                      <td class="cell">Dylan Ambrose</td>
                      <td class="cell"><span class="cell-data">16 Oct</span><span class="note">03:16 AM</span></td>
                      <td class="cell">$96.20</td>
                      <td class="cell"><span class="badge bg-danger">未到貨</span></td>
                      <td class="cell"><a class="btn-sm app-btn-secondary" href="#">View</a></td>
                    </tr>
                  </tbody>
                </table>
              </div><!--//table-responsive-->
            </div><!--//app-card-body-->
          </div><!--//app-card-->
        </div><!--//tab-pane-->
      </div><!--//tab-content-->




    </div><!--//container-fluid-->
  </div><!--//app-content-->

  <footer class="app-footer">

  </footer><!--//app-footer-->

</div><!--//app-wrapper-->